.faq-menu
    .mobile-open-button.mobile-open-button-js.text.pink(data-content=".faq-menu a") Меню сервис
    .text.text-smaller.bold Сервис
    a(href="return-conditions.html").text.pink.text-smaller Обмен и возврат 
    a(href="payment-and-delivery.html").text.pink.text-smaller Оплата и доставка
    a(href="faq.html").text.pink.text-smaller.current-page Вопрос и ответ
    a(href="tailor-services.html").text.pink.text-smaller Услуги портного в магазинах
    a(href="personal-professional-stylist.html").text.pink.text-smaller Личный проффесиональный стилист