<svg  class="panorama-map" version="1.1" viewBox="0 0 361.95 236.36" xmlns="http://www.w3.org/2000/svg"xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="layer1" transform="translate(7.8619 50.901)">
    <image id="image843" x="-7.8619" y="-50.901" width="361.95" height="236.36" xlink:href="./assets/images/index/panorama.jpg" preserveAspectRatio="none"/>
    <g fill="none">
    <g id="g861" class="panorama-marker" transform="matrix(.26458 0 0 .26458 234.04 90.084)">
        <title id="title863">Андріівська церква</title>
        <circle id="circle847" cx="20" cy="20" r="20" fill="#ebc78c"/>
        <path id="path849" d="m20 16.706c-1.1 0-2 0.847-2 1.8823s0.9 1.8824 2 1.8824c0.5304 0 1.0391-0.1983 1.4142-0.5513 0.3751-0.3531 0.5858-0.8318 0.5858-1.3311 0-0.4992-0.2107-0.978-0.5858-1.331s-0.8838-0.5513-1.4142-0.5513zm0-4.7059c3.27 0 7 2.3153 7 6.7294 0 2.9365-2.33 6.033-7 9.2706-4.67-3.2376-7-6.3341-7-9.2706 0-4.4141 3.73-6.7294 7-6.7294z" clip-rule="evenodd" fill="#fff" fill-rule="evenodd"/>
    </g>
    <g id="g861-6" class="panorama-marker" transform="matrix(.26458 0 0 .26458 85.575 112.22)">
        <title id="title863-9">Контрактова площа</title>
        <circle id="circle847-7" cx="20" cy="20" r="20" fill="#ebc78c"/>
        <path id="path849-3" d="m20 16.706c-1.1 0-2 0.847-2 1.8823s0.9 1.8824 2 1.8824c0.5304 0 1.0391-0.1983 1.4142-0.5513 0.3751-0.3531 0.5858-0.8318 0.5858-1.3311 0-0.4992-0.2107-0.978-0.5858-1.331s-0.8838-0.5513-1.4142-0.5513zm0-4.7059c3.27 0 7 2.3153 7 6.7294 0 2.9365-2.33 6.033-7 9.2706-4.67-3.2376-7-6.3341-7-9.2706 0-4.4141 3.73-6.7294 7-6.7294z" clip-rule="evenodd" fill="#fff" fill-rule="evenodd"/>
    </g>
    <g id="g861-6-2" class="panorama-marker" transform="matrix(.26458 0 0 .26458 263.71 122.02)">
        <title id="title863-9-5">Воздвиженка</title>
        <circle id="circle847-7-8" cx="20" cy="20" r="20" fill="#ebc78c"/>
        <path id="path849-3-5" d="m20 16.706c-1.1 0-2 0.847-2 1.8823s0.9 1.8824 2 1.8824c0.5304 0 1.0391-0.1983 1.4142-0.5513 0.3751-0.3531 0.5858-0.8318 0.5858-1.3311 0-0.4992-0.2107-0.978-0.5858-1.331s-0.8838-0.5513-1.4142-0.5513zm0-4.7059c3.27 0 7 2.3153 7 6.7294 0 2.9365-2.33 6.033-7 9.2706-4.67-3.2376-7-6.3341-7-9.2706 0-4.4141 3.73-6.7294 7-6.7294z" clip-rule="evenodd" fill="#fff" fill-rule="evenodd"/>
    </g>
    <g id="g861-6-3" class="panorama-marker" transform="matrix(.26458 0 0 .26458 115.74 119.38)">
        <title id="title863-9-7">Житній ринок</title>
        <circle id="circle847-7-85" cx="20" cy="20" r="20" fill="#ebc78c"/>
        <path id="path849-3-6" d="m20 16.706c-1.1 0-2 0.847-2 1.8823s0.9 1.8824 2 1.8824c0.5304 0 1.0391-0.1983 1.4142-0.5513 0.3751-0.3531 0.5858-0.8318 0.5858-1.3311 0-0.4992-0.2107-0.978-0.5858-1.331s-0.8838-0.5513-1.4142-0.5513zm0-4.7059c3.27 0 7 2.3153 7 6.7294 0 2.9365-2.33 6.033-7 9.2706-4.67-3.2376-7-6.3341-7-9.2706 0-4.4141 3.73-6.7294 7-6.7294z" clip-rule="evenodd" fill="#fff" fill-rule="evenodd"/>
    </g>
    </g>
    </g>
    </svg>
