extends ../layout/main
block variable
	- var version = "ua";
	- var pageName = "index";
block meta
	title= 'Podil Plaza Residence 2'
	meta(name='description', content='')
block head
		link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
	script(defer src='./assets/scripts/libs.js')
	script(defer src="./assets/scripts/menu.js")
	script(defer src='./assets/scripts/index.js')
block content
	section.main-screen
		picture.main-screen__bg
			source(srcset="./assets/images/index/ms-bg.jpg")
			img(src="./assets/images/index/ms-bg.jpg")
		.main-screen__icons-row
			.icon-with-label
				.icon-with-label__icon
					+svg('metro')
				.icon-with-label__text Контрактова площа
			a(target='_blank' href="https://maps.google.com/?q="+complexAdress).icon-with-label
				.icon-with-label__icon
					+svg('marker')
				.icon-with-label__text м. Київ, Глибочицька 73
			.icon-with-label
				.icon-with-label__icon
					+svg('clock')
				.icon-with-label__text пн-пт: 09:00-19:00 сб-вс: 10:00-17:00
		.main-screen__title-wrap
			.main-screen__title Багатофункціональний житловий комплекс бізнес класу
			.main-screen__but.js-form-call Дізнатися більше
		.main-screen__section-info-wrap
			.section-info 
				.section-info__top
					span Секція 1 
					span |
					span UAH /м2
				.section-info__price 
					span >
					span 38550
			.section-info 
				.section-info__top
					span Секція 2 
					span |
					span UAH /м2
				.section-info__price 
					span >
					span 42403
	section.about-block 
		.about-block__left-column
			.title Про комплекс
			.subtitle «PODIL PLAZA & RESIDENCE - 2» — це багатофункціональний престижний житловий комплекс преміум-класу, розташований у самому серці Подолу. 
			.text.left-shifted Розкішне природне оточення біля підніжжя гори Щекавиця, статусне сусідство, ексклюзивна архітектура і дизайн, високоякісний сервіс — це правила життя у стилі преміум. Ваші правила!
		.about-block__right-column
			.about-block__golden-circle
				img(data-src="./assets/images/index/golde-circle.png").about-block__golden-circle-img
				.about-block__golden-circle-text <span class="text">Назва комплексу — </span><span class="text gold">не просто гарне поєднання слів.</span>
			.subtitle Це відображення особливого статусу та способу життя.
	section.about-block-bg#about
		img(src="./assets/images/index/about-block-bg.jpg")
	section.panorama#panorama
		.panorama__text-content
			.title Панорама
			.subtitle З вікон житлового комплексу «PODIL PLAZA & RESIDENCE–2» відкриваються приголомшливі панорамні види на старовинний Поділ.
			a.button-std(target='_blank' href="https://maps.google.com/?q="+complexAdress) Показати на Google Maps
		.panorama-help-popup.js-panorama-help-popup
			span.panorama-help-popup__text Андріївська церква
		include ../includes/panorama.pug
	section.podil-about#posil-about
		img(data-src="./assets/images/index/podil-about-decor.png").podil-about__decor
		.podil-about__content
			.title «PODIL PLAZA <span style="font-family:Montserrat"><svg width="27" height="32" viewBox="0 0 27 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.73309 24.9742C5.68874 23.5121 5.0621 21.8411 5.0621 20.1702C5.0621 19.3347 5.27098 18.7081 5.68872 17.8726C6.10646 17.246 6.73306 16.6193 7.56854 15.9927C8.6129 17.8726 9.65727 19.5435 10.7016 21.0056C11.746 22.4677 12.5815 23.721 13.2081 24.7653C12.5815 25.8097 11.9548 26.4363 11.5371 26.6452C11.1193 26.854 10.7016 27.0629 10.2839 27.0629C9.03065 27.0629 7.77745 26.4363 6.73309 24.9742ZM9.44836 8.05563C9.03062 7.22015 8.82178 6.1758 8.82178 5.54919C8.82178 4.7137 9.03062 4.08709 9.44836 3.66935C9.86611 3.2516 10.2839 3.04273 10.9105 3.04273C11.746 3.04273 12.3726 3.2516 12.7903 3.87821C13.2081 4.50483 13.6258 5.34032 13.6258 6.38467C13.6258 7.22016 13.4169 8.2645 12.9992 9.09999C12.5815 9.93547 11.9549 10.5621 11.3282 11.1887C10.2839 9.93547 9.65724 8.89112 9.44836 8.05563ZM6.10648 2.62499C4.85325 3.87822 4.22659 5.54918 4.22659 7.22015C4.22659 8.2645 4.43547 9.30885 4.85321 10.3532C5.27095 11.3976 5.89761 12.6508 6.73309 14.1129C4.85325 15.3661 3.18226 16.8282 2.13791 18.2903C0.884683 19.9613 0.258057 21.6323 0.258057 23.0944C0.258057 25.6008 0.884675 27.4806 2.34677 29.1516C3.80887 30.8226 5.47984 31.6581 7.35968 31.6581C8.61291 31.6581 9.86614 31.2403 10.9105 30.1959C11.9548 29.3605 13.2081 28.1073 14.4613 26.2274C15.5057 27.8984 16.55 29.1516 17.3855 29.9871C19.683 31.8669 21.9807 31.8669 23.8605 29.7782C24.696 28.7339 25.7403 27.0629 26.7847 24.7653L26.9936 24.3476L25.5315 23.3032L25.3226 23.9298C24.9048 24.9742 24.4871 25.8097 24.0693 26.2274C23.6516 26.6452 23.4427 26.854 23.025 26.854C22.3984 26.854 21.5629 26.4363 20.5186 25.3919C19.4742 24.5564 18.6387 23.0943 17.3855 21.2145L18.8476 19.1258C19.0564 18.9169 19.0565 18.708 19.2654 18.708C19.2654 19.1258 19.2654 19.3347 19.2654 19.5435C19.4742 20.1701 19.6831 20.7968 20.3097 21.2145C20.7274 21.6323 21.354 21.8411 21.9806 21.8411C22.8161 21.8411 23.6516 21.4234 24.2782 20.7968C24.9048 20.1701 25.1137 19.3347 25.1137 18.2903C25.1137 17.246 24.696 16.4105 24.2782 15.7839C23.6516 15.1573 22.8161 14.7395 21.9806 14.7395C20.7274 14.7395 19.0564 15.9927 17.3855 18.2903C17.1766 18.7081 16.7589 19.1258 16.55 19.3347L14.0436 15.3661C12.7904 13.4863 12.3726 12.6508 11.9549 12.2331C12.9992 11.3976 13.6258 10.5621 14.2524 9.51774C14.879 8.47338 15.2968 7.22015 15.2968 5.96692C15.2968 4.29596 14.8791 2.83386 14.0436 1.7895C13.2081 0.745149 11.9548 0.118546 10.4927 0.118546C8.82177 0.745158 7.3597 1.37176 6.10648 2.62499Z" fill="#133C58"/></svg></span> RESIDENCE - 2» - це новий настрій класичного Подолу.
			.podil-about__column-left
				.subtitle.left-part Сучасний Поділ - це основний культурний центр Києва, котрий приваблює городян і туристів старовинною архітектурою, історичними пам’ятками та богемною атмосферою.
			.podil-about__column-right
				.text За кількістю історико-архітектурних пам’яток сучасний Поділ впевнено займає лідируючу позицію серед інших столичних районів.
				.subtitle Незважаючи на появу нових сучасних об’єктів, Поділ зберіг свою чарівність та самобутність.
		img(data-src="./assets/images/index/podil-about-bg.jpg").podil-about__bg
	section.philosophy-double-section#advantages
		picture.philosophy-double-section__img
			img(data-src="./assets/images/index/advantages1.jpg")
		.philosophy-double-section__text.home-screen-description-block
			.home-screen-description-block__title.title Переваги
				+img('index/advantages-decor1.png').philosophy-double-section__text-decor
			.home-screen-description-block__text-wrap
				.adv-sngl
					<svg class="adv-sngl__icon" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M29.9865 19.5017C29.9942 18.0839 28.9991 16.858 27.61 16.5739L26.0777 14.1151C25.268 12.8135 23.7917 12.0052 22.225 12.0052H19.7482C19.7669 11.1673 19.6681 10.3309 19.4546 9.52043C20.3556 9.09257 20.7416 8.01702 20.3182 7.11383L19.9444 6.32127C19.5652 5.51827 18.659 5.10953 17.8061 5.35672C17.3646 4.3274 16.6198 3.45713 15.671 2.86197C15.032 2.45492 14.3142 2.18742 13.5646 2.07716C13.4913 2.06467 13.4059 2.06311 13.3283 2.05448C12.8107 0.485856 11.1195 -0.366176 9.55077 0.151453C7.98208 0.669081 7.13011 2.36034 7.64774 3.92903C7.73332 4.18834 7.85401 4.43479 8.00644 4.66137C7.59614 5.32062 7.33057 6.05951 7.22731 6.82909C7.19364 7.07197 7.1769 7.31692 7.17733 7.56217C7.17559 8.43363 7.38286 9.29279 7.78173 10.0676C7.13717 10.5122 6.85012 11.3199 7.06957 12.0716C5.75645 12.2864 4.58776 13.0561 3.91939 14.1933L2.32083 16.8809C2.19083 16.9201 2.05977 16.9559 1.93096 16.9991C0.453786 17.4894 -0.346083 19.0845 0.144308 20.5616C0.302983 21.0395 0.586785 21.4662 0.966292 21.7973C0.368701 22.1567 0.00250073 22.8025 0.000751559 23.4998V25.4989C0.0008765 26.0682 0.243324 26.6105 0.667434 26.9904L1.33312 26.2447C1.12122 26.0547 1.00021 25.7835 1.00028 25.4989V23.4998C1.00103 22.9481 1.44806 22.5011 1.9998 22.5003H27.9874C28.5392 22.5011 28.9862 22.9481 28.9869 23.4998V25.4989C28.9862 26.0506 28.5392 26.4977 27.9874 26.4984H9.99599V27.4979H27.9874C29.091 27.4968 29.9853 26.6025 29.9865 25.4989V23.4998C29.984 22.7799 29.5934 22.1172 28.9645 21.7665C29.6153 21.1938 29.9877 20.3685 29.9865 19.5017ZM25.2295 14.6436L26.4211 16.5561L21.1685 17.0115L19.2916 15.6035C19.2051 15.5386 19.0998 15.5035 18.9917 15.5036H18.7653C19.1862 14.8931 19.4747 14.2013 19.6125 13.4727C19.6412 13.3219 19.6653 13.165 19.6853 13.0047H22.225C23.4491 13.0048 24.6004 13.6324 25.2295 14.6436ZM19.0396 6.746L19.4144 7.54106C19.5808 7.89814 19.466 8.32312 19.1426 8.54795C19.1073 8.45712 19.0801 8.36054 19.042 8.27265L18.2039 6.28922C18.5522 6.24355 18.89 6.42821 19.0396 6.746ZM16.9078 5.78896L18.123 8.66552C18.226 8.90378 18.3151 9.14786 18.3899 9.39643C18.7027 10.389 18.8192 11.4329 18.733 12.47C18.715 12.7449 18.6806 13.0185 18.6301 13.2894C18.5033 13.974 18.2138 14.6181 17.786 15.1673C17.6891 15.2877 17.583 15.4004 17.4686 15.5043L13.0272 15.548C12.02 14.9224 11.1641 14.0813 10.5207 13.0853C10.3787 12.871 10.2484 12.6493 10.1303 12.421L8.68962 9.6543C8.35571 9.01792 8.18048 8.31038 8.17886 7.59172L8.54075 7.72216L8.87946 6.78217L8.29343 6.5709C8.36202 6.26229 8.46297 5.96181 8.59466 5.67445L9.71912 6.42409L10.2736 5.59249L9.10423 4.81298C9.44426 4.36176 9.86631 3.97863 10.3482 3.68371L11.0531 5.18299L11.9579 4.75738L11.2527 3.25741C11.7667 3.08087 12.3088 3.00035 12.8519 3.02002L12.51 4.38775L13.4793 4.62988L13.8485 3.15265C14.1749 3.2358 14.4907 3.35618 14.7896 3.51142L14.5764 4.10376L15.5164 4.44247L15.6459 4.08283C16.1962 4.54317 16.6287 5.12802 16.9078 5.78896ZM8.2472 10.9682L9.24441 12.8835C9.29252 12.9745 9.33812 13.0573 9.38216 13.1363C9.00272 13.2402 8.60378 13.0541 8.43961 12.6966L8.06529 11.9095C7.91742 11.5893 7.99064 11.2103 8.2472 10.9682ZM10.4958 1.01048C11.2193 1.01211 11.8853 1.40492 12.2369 2.0373C10.8681 2.15169 9.59169 2.77445 8.65913 3.78291C8.2244 2.77633 8.68793 1.60788 9.69451 1.17315C9.94745 1.06389 10.2203 1.00854 10.4958 1.01048ZM4.77973 14.7022C5.34102 13.7464 6.3611 13.1271 7.48912 13.0258L7.53479 13.1219C7.95371 14.0252 9.02558 14.418 9.92896 13.999C9.93359 13.9969 9.93821 13.9947 9.94277 13.9925L9.94596 13.9911C10.4002 14.6259 10.9346 15.1992 11.5359 15.6969L4.92809 16.3577C4.51085 16.3993 4.09593 16.465 3.68356 16.5447L4.77973 14.7022ZM2.24724 17.9467C3.14925 17.6464 4.08175 17.447 5.02767 17.3523L13.4943 16.5031H18.8253L19.7257 17.1785L13.9233 18.0068C13.8885 18.0118 13.8543 18.0204 13.8213 18.0326L4.40928 21.5002H2.82366C1.81657 21.5002 1.00015 20.6837 1.00021 19.6767C1.00028 18.8917 1.5026 18.1949 2.24724 17.9467ZM27.0379 21.5007H26.0103L14.5376 20.4831C14.4682 20.4763 14.3983 20.4848 14.3326 20.5081L11.4128 21.5007H7.29934L14.1171 18.9887L20.5888 18.0649L26.9379 17.5026H27.0326C27.1029 17.5024 27.1732 17.5064 27.243 17.5148C28.2373 17.6241 28.9869 18.4782 28.9869 19.5017C28.9869 20.6042 28.1124 21.5007 27.0379 21.5007Z" fill="#C5903A"/>
						<path d="M10.3274 11.2066L10.954 11.9855C11.4955 11.551 12.1325 11.2514 12.8125 11.1114L12.6126 10.1323C11.7765 10.3042 10.9933 10.6724 10.3274 11.2066Z" fill="#C5903A"/>
						<path d="M15.2775 12.7948C14.9222 12.9622 14.536 13.0541 14.1433 13.0646L14.0613 13.0666L14.0847 14.0661L14.1662 14.0642C15.0337 14.0411 15.8679 13.7259 16.5339 13.1696L15.8926 12.4033C15.7053 12.5597 15.4985 12.6913 15.2775 12.7948Z" fill="#C5903A"/>
						<path d="M12.4343 9.78245L12.7173 8.82391C11.305 8.40761 9.88475 9.07772 9.34058 10.4189L10.2669 10.7947C10.6193 9.92595 11.5095 9.51058 12.4343 9.78245Z" fill="#C5903A"/>
						<path d="M13.7004 8.36132L14.6188 8.75488C14.9979 7.87005 15.8857 7.45031 16.7813 7.73143L17.082 6.77876C15.7022 6.34178 14.28 7.00796 13.7004 8.36132Z" fill="#C5903A"/>
						<path d="M13.1067 9.53271L14.0116 9.10676L15.3163 11.8785L14.4114 12.3044L13.1067 9.53271Z" fill="#C5903A"/>
						<path d="M15.4274 9.94943C15.969 9.51495 16.6061 9.21535 17.2862 9.07523L17.0851 8.09619C16.2492 8.26817 15.4662 8.63637 14.8005 9.17037L15.4274 9.94943Z" fill="#C5903A"/>
						<path d="M8.77086 25.5475C8.54509 25.1846 8.18289 24.9277 7.76571 24.8346C7.52051 24.7778 7.26757 24.762 7.01719 24.7876C7.01157 24.7553 7.0052 24.7232 6.99733 24.691C6.89569 24.2801 6.6295 23.9292 6.26118 23.7207C5.52022 23.2916 4.55399 23.5133 4.10789 24.215C3.9842 24.4093 3.89449 24.6232 3.84264 24.8475C3.38967 24.7711 2.9257 24.893 2.56875 25.1821L2.553 25.1946C2.23341 25.4495 2.03438 25.8259 2.00377 26.2335C1.97378 26.6366 2.11296 27.0339 2.38802 27.3301L2.44112 27.3883C2.59205 27.5529 2.76803 27.6927 2.96256 27.8025C2.76497 28.1991 2.75716 28.6638 2.94126 29.0669C3.30764 29.8352 4.20347 30.1922 4.9979 29.8866C5.22454 29.799 5.43488 29.6741 5.62023 29.5171C5.92602 29.8242 6.34151 29.9969 6.77487 29.9969C6.81285 29.9969 6.85102 29.9956 6.88944 29.9929C7.31305 29.9666 7.70767 29.7689 7.98229 29.4452C8.24292 29.1397 8.36774 28.7411 8.328 28.3415C8.30526 28.1093 8.24342 27.8826 8.14509 27.6711C8.55233 27.4782 8.85044 27.1115 8.95608 26.6735C9.04804 26.2885 8.98126 25.8828 8.77086 25.5475ZM7.54088 25.8086C7.69805 25.8423 7.83511 25.9378 7.92113 26.0737C7.9906 26.1826 8.01334 26.3149 7.98417 26.4408C7.93007 26.6669 7.70861 26.8236 7.45492 26.8302C7.08809 26.5598 6.64837 26.4061 6.19302 26.3889C6.4241 25.933 6.98033 25.6789 7.54088 25.8086ZM4.95149 24.7512C5.11116 24.5 5.48155 24.4243 5.76023 24.5857C5.89223 24.6586 5.98849 24.7825 6.02641 24.9285C6.04284 24.9956 6.04415 25.0656 6.03022 25.1333C5.65465 25.3736 5.36679 25.7288 5.20936 26.146C5.01733 25.9929 4.88096 25.781 4.82117 25.5428C4.75396 25.2722 4.80112 24.9859 4.95149 24.7512ZM3.00054 26.3077C3.01185 26.1747 3.07807 26.0525 3.18327 25.9703L3.19907 25.9578C3.39673 25.8014 3.67035 25.7829 3.88731 25.9112C4.02018 26.3317 4.28093 26.7002 4.63326 26.9655C4.14631 27.2129 3.55459 27.1107 3.17883 26.7142L3.12567 26.6561C3.03734 26.5624 2.99198 26.4362 3.00054 26.3077ZM4.63557 28.9553C4.33672 29.0715 3.97801 28.9342 3.85201 28.6555C3.76162 28.46 3.81478 28.2281 3.98126 28.0914C4.01281 28.0927 4.04429 28.0937 4.07584 28.0937C4.51607 28.0953 4.94686 27.9664 5.314 27.7236C5.36535 27.9316 5.3493 28.1505 5.26821 28.3488C5.15058 28.6299 4.92144 28.8496 4.63557 28.9553ZM7.21903 28.7999C7.11796 28.9169 6.97359 28.9876 6.81922 28.9958C6.56903 29.0148 6.33227 28.8803 6.22038 28.6556C6.36925 28.2511 6.38349 27.8092 6.26099 27.3958C6.82085 27.4629 7.28 27.8909 7.33304 28.4379C7.34591 28.569 7.30474 28.6998 7.21903 28.7999Z" fill="#C5903A"/>
						</svg>
					.adv-sngl__text.text Фітнес та SPA центри, салон краси, банк, ресторан, кав’ярня.
				.adv-sngl
					<svg class="adv-sngl__icon" width="29" height="30" viewBox="0 0 29 30" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M28.7305 28.6768L26.8143 20.0541C26.766 19.8352 26.5715 19.679 26.3468 19.679H24.4308V18.7209C24.4308 16.7702 22.9652 15.1563 21.0776 14.9197V11.1742C21.0776 10.0528 20.165 9.14021 19.0436 9.14021H17.7244V6.26599C17.7244 3.36062 15.3603 0.996582 12.4549 0.996582C10.9544 0.996582 9.5983 1.62723 8.63769 2.6373C8.17619 2.50481 7.68903 2.43369 7.18554 2.43369C4.28017 2.43369 1.91612 4.79773 1.91612 7.7031V9.14386C0.849353 9.20527 0 10.0924 0 11.1743V28.7808C0 29.0452 0.214612 29.2598 0.479017 29.2598H4.31132H12.9338H12.934H28.2629C28.4085 29.2598 28.546 29.1936 28.6371 29.0801C28.7276 28.9671 28.7621 28.8186 28.7305 28.6768ZM23.4727 18.721V19.6791H21.0775V15.8875C22.4353 16.1162 23.4727 17.2992 23.4727 18.721ZM17.7243 19.6791V18.721C17.7243 17.2991 18.7618 16.1162 20.1195 15.8874V19.679H17.7243V19.6791ZM12.4549 1.95473C14.8319 1.95473 16.7663 3.8891 16.7663 6.26605V9.14026H12.4549V7.70316C12.4549 5.67296 11.3004 3.90734 9.61369 3.02767C10.3731 2.3606 11.3673 1.95473 12.4549 1.95473ZM8.14363 9.14026V6.26605C8.14363 5.33564 8.44098 4.47382 8.94425 3.76846C10.4469 4.44294 11.4969 5.95241 11.4969 7.70316V9.14026H8.14363ZM7.18554 3.39189C7.46106 3.39189 7.73029 3.41895 7.99155 3.46863C7.48127 4.27981 7.18554 5.23902 7.18554 6.26605V9.14026H5.91465H2.87421V7.70316C2.87421 5.3262 4.80858 3.39189 7.18554 3.39189ZM0.95809 11.1743C0.95809 10.5812 1.44098 10.0984 2.03401 10.0984H4.16329C3.95423 10.4229 3.8323 10.8087 3.8323 11.2227V28.3017H0.95809V11.1743ZM4.79034 11.2227C4.79034 10.6028 5.29479 10.0984 5.91465 10.0984H7.18554V13.9307C7.18554 14.1951 7.40015 14.4097 7.66455 14.4097C7.92896 14.4097 8.14357 14.1951 8.14357 13.9307V10.0984H16.7662V13.9307C16.7662 14.1951 16.9808 14.4097 17.2452 14.4097C17.5096 14.4097 17.7242 14.1951 17.7242 13.9307V10.0984H19.0435C19.6366 10.0984 20.1194 10.5812 20.1194 11.1743V14.9197C18.2318 15.1564 16.7662 16.7703 16.7662 18.721V19.6791H14.8499C14.6257 19.6791 14.4313 19.8353 14.3824 20.0542L12.5496 28.3017H4.79034V11.2227ZM13.5311 28.3017L15.2346 20.6372H16.7663V23.9904C16.7663 24.2548 16.9809 24.4694 17.2453 24.4694C17.5097 24.4694 17.7243 24.2548 17.7243 23.9904V20.6372H23.4727V23.9904C23.4727 24.2548 23.6873 24.4694 23.9517 24.4694C24.2162 24.4694 24.4308 24.2548 24.4308 23.9904V20.6372H25.9625L27.666 28.3017H13.5311Z" fill="#C5903A"/>
						</svg>
					.adv-sngl__text.text Наявність торговельного центру в комплексі, де буде абсолютно все,що необхідно для ком - фортного життя мешканців будинку,
				.adv-sngl
					<svg class="adv-sngl__icon"  width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M31.4839 17.5486H30.9677V16.0002C30.9677 15.8633 30.9134 15.7321 30.8166 15.6353C30.7198 15.5385 30.5885 15.4841 30.4516 15.4841H29.9355V9.80669C29.9355 9.39603 29.7723 9.00219 29.482 8.71181C29.1916 8.42143 28.7978 8.2583 28.3871 8.2583H21.1613C20.7506 8.2583 20.3568 8.42143 20.0664 8.71181C19.776 9.00219 19.6129 9.39603 19.6129 9.80669V15.4841H19.0968C18.9599 15.4841 18.8286 15.5385 18.7318 15.6353C18.635 15.7321 18.5806 15.8633 18.5806 16.0002V17.5486H17.5484V12.9035C17.5484 12.7666 17.494 12.6353 17.3972 12.5385C17.3004 12.4417 17.1691 12.3873 17.0323 12.3873H12.9032C12.7663 12.3873 12.6351 12.4417 12.5383 12.5385C12.4415 12.6353 12.3871 12.7666 12.3871 12.9035V13.4196H11.871C11.4603 13.4196 11.0665 13.5827 10.7761 13.8731C10.4857 14.1635 10.3226 14.5573 10.3226 14.968C10.3226 15.3786 10.4857 15.7725 10.7761 16.0629C11.0665 16.3532 11.4603 16.5164 11.871 16.5164H12.3871V17.5486H7.22581V16.0002C7.22581 15.8633 7.17143 15.7321 7.07464 15.6353C6.97784 15.5385 6.84656 15.4841 6.70968 15.4841H6.19355V13.9357C6.19355 13.7988 6.13917 13.6676 6.04238 13.5708C5.94558 13.474 5.81431 13.4196 5.67742 13.4196H0.516129C0.379243 13.4196 0.247964 13.474 0.151171 13.5708C0.0543777 13.6676 0 13.7988 0 13.9357V16.0002C0 16.1371 0.0543777 16.2684 0.151171 16.3652C0.247964 16.462 0.379243 16.5164 0.516129 16.5164H1.03226V17.5486H0.516129C0.379243 17.5486 0.247964 17.603 0.151171 17.6998C0.0543777 17.7966 0 17.9279 0 18.0648V21.1615C0 21.2984 0.0543777 21.4297 0.151171 21.5265C0.247964 21.6233 0.379243 21.6777 0.516129 21.6777H2.06452V31.4841C2.06452 31.621 2.11889 31.7523 2.21569 31.8491C2.31248 31.9459 2.44376 32.0002 2.58065 32.0002H5.67742C5.81431 32.0002 5.94558 31.9459 6.04238 31.8491C6.13917 31.7523 6.19355 31.621 6.19355 31.4841V30.968H25.8064V31.4841C25.8064 31.621 25.8608 31.7523 25.9576 31.8491C26.0544 31.9459 26.1857 32.0002 26.3226 32.0002H29.4194C29.5562 32.0002 29.6875 31.9459 29.7843 31.8491C29.8811 31.7523 29.9355 31.621 29.9355 31.4841V21.6777H31.4839C31.6208 21.6777 31.752 21.6233 31.8488 21.5265C31.9456 21.4297 32 21.2984 32 21.1615V18.0648C32 17.9279 31.9456 17.7966 31.8488 17.6998C31.752 17.603 31.6208 17.5486 31.4839 17.5486ZM20.6452 9.80669C20.6452 9.6698 20.6995 9.53852 20.7963 9.44173C20.8931 9.34494 21.0244 9.29056 21.1613 9.29056H28.3871C28.524 9.29056 28.6553 9.34494 28.7521 9.44173C28.8488 9.53852 28.9032 9.6698 28.9032 9.80669V15.4841H20.6452V9.80669ZM19.6129 16.5164H29.9355V17.5486H19.6129V16.5164ZM11.871 15.4841C11.7341 15.4841 11.6028 15.4297 11.506 15.3329C11.4092 15.2361 11.3548 15.1049 11.3548 14.968C11.3548 14.8311 11.4092 14.6998 11.506 14.603C11.6028 14.5062 11.7341 14.4518 11.871 14.4518H12.3871V15.4841H11.871ZM13.4194 13.4196H16.5161V17.5486H13.4194V13.4196ZM1.03226 14.4518H5.16129V15.4841H1.03226V14.4518ZM2.06452 16.5164H6.19355V17.5486H2.06452V16.5164ZM3.09677 30.968V21.6777H5.16129V30.968H3.09677ZM6.19355 29.9357V21.6777H25.8064V29.9357H6.19355ZM28.9032 30.968H26.8387V21.6777H28.9032V30.968ZM30.9677 20.6454H1.03226V18.5809H30.9677V20.6454Z" fill="#C5903A"/>
						<path d="M24.7742 10.3228C24.3659 10.3228 23.9668 10.4438 23.6272 10.6707C23.2877 10.8975 23.0231 11.22 22.8669 11.5972C22.7106 11.9745 22.6697 12.3896 22.7494 12.79C22.829 13.1905 23.0257 13.5584 23.3144 13.8471C23.6031 14.1358 23.971 14.3325 24.3715 14.4121C24.7719 14.4918 25.187 14.4509 25.5643 14.2946C25.9415 14.1384 26.264 13.8738 26.4908 13.5343C26.7177 13.1947 26.8387 12.7956 26.8387 12.3873C26.8387 11.8397 26.6212 11.3146 26.2341 10.9274C25.8469 10.5403 25.3218 10.3228 24.7742 10.3228ZM24.7742 13.4195C24.5701 13.4195 24.3705 13.359 24.2007 13.2456C24.031 13.1321 23.8987 12.9709 23.8206 12.7823C23.7424 12.5937 23.722 12.3861 23.7618 12.1859C23.8016 11.9856 23.9 11.8017 24.0443 11.6574C24.1887 11.513 24.3726 11.4147 24.5728 11.3748C24.7731 11.335 24.9806 11.3555 25.1693 11.4336C25.3579 11.5117 25.5191 11.644 25.6325 11.8138C25.746 11.9835 25.8065 12.1831 25.8065 12.3873C25.8065 12.661 25.6977 12.9236 25.5042 13.1172C25.3106 13.3108 25.048 13.4195 24.7742 13.4195Z" fill="#C5903A"/>
						<path d="M13.724 9.2901C13.8601 9.42737 13.9366 9.61289 13.9366 9.80623C13.9366 9.99958 13.8601 10.1851 13.724 10.3224L13.053 10.9882L13.7859 11.7211L14.4517 11.0501C14.6156 10.887 14.7456 10.6932 14.8343 10.4797C14.9231 10.2663 14.9687 10.0374 14.9687 9.80623C14.9687 9.57506 14.9231 9.34618 14.8343 9.13271C14.7456 8.91925 14.6156 8.72542 14.4517 8.56236L14.1472 8.25784C14.0119 8.12011 13.9359 7.93482 13.9356 7.74171V7.22559H12.9033V7.74171C12.9021 7.97299 12.9471 8.20218 13.0357 8.4158C13.1244 8.62941 13.2548 8.82314 13.4195 8.98559L13.724 9.2901Z" fill="#C5903A"/>
						<path d="M15.7884 9.2901C15.9246 9.42737 16.001 9.61289 16.001 9.80623C16.001 9.99958 15.9246 10.1851 15.7884 10.3224L15.1175 10.9882L15.8504 11.7211L16.5162 11.0501C16.68 10.887 16.8101 10.6932 16.8988 10.4797C16.9875 10.2663 17.0332 10.0374 17.0332 9.80623C17.0332 9.57506 16.9875 9.34618 16.8988 9.13271C16.8101 8.91925 16.68 8.72542 16.5162 8.56236L16.2117 8.25784C16.0763 8.12011 16.0004 7.93482 16.0001 7.74171V7.22559H14.9678V7.74171C14.9665 7.97299 15.0116 8.20218 15.1002 8.4158C15.1888 8.62941 15.3193 8.82314 15.4839 8.98559L15.7884 9.2901Z" fill="#C5903A"/>
						<path d="M5.67742 11.3548C6.80031 11.3548 7.89798 11.0219 8.83162 10.398C9.76527 9.77418 10.493 8.88749 10.9227 7.85008C11.3524 6.81266 11.4648 5.67112 11.2457 4.56981C11.0267 3.4685 10.486 2.45688 9.69196 1.66288C8.89796 0.868879 7.88634 0.328157 6.78503 0.109093C5.68372 -0.109972 4.54218 0.00245996 3.50477 0.43217C2.46735 0.861881 1.58066 1.58957 0.956818 2.52322C0.332975 3.45686 0 4.55453 0 5.67742C0 7.18317 0.598155 8.62724 1.66288 9.69196C2.7276 10.7567 4.17167 11.3548 5.67742 11.3548ZM2.06452 2.78194L2.73032 3.46323L3.46323 2.73032L2.78194 2.06452C3.46289 1.50993 4.28869 1.16241 5.16129 1.06323V2.06452H6.19355V1.06323C7.06615 1.16241 7.89195 1.50993 8.5729 2.06452L7.89161 2.73032L8.62452 3.46323L9.29032 2.78194C9.84491 3.46289 10.1924 4.28869 10.2916 5.16129H9.29032V6.19355H10.2916C10.1924 7.06615 9.84491 7.89195 9.29032 8.57291L8.61419 7.89162L7.88129 8.62452L8.5729 9.29033C7.89195 9.84492 7.06615 10.1924 6.19355 10.2916V9.29033H5.16129V10.2916C4.28869 10.1924 3.46289 9.84492 2.78194 9.29033L3.46323 8.6142L2.73032 7.89162L2.06452 8.57291C1.50993 7.89195 1.16241 7.06615 1.06323 6.19355H2.06452V5.16129H1.06323C1.16241 4.28869 1.50993 3.46289 2.06452 2.78194Z" fill="#C5903A"/>
						<path d="M7.37558 8.10829L8.10848 7.37539L6.19364 5.46571V3.09668H5.16139V5.67732C5.16099 5.74525 5.17401 5.81259 5.1997 5.87547C5.22538 5.93835 5.26323 5.99555 5.31106 6.04378L7.37558 8.10829Z" fill="#C5903A"/>
						</svg>
					.adv-sngl__text.text Наявність офісного центу в комплексі дозволить вам вести свій бізнес.
				.adv-sngl
					<svg class="adv-sngl__icon" width="28" height="21" viewBox="0 0 28 21" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M3.26543 8.86289C3.48659 8.86289 3.66587 8.68361 3.66587 8.46245C3.66587 8.2413 3.48659 8.06201 3.26543 8.06201C3.04427 8.06201 2.86499 8.2413 2.86499 8.46245C2.86499 8.68361 3.04427 8.86289 3.26543 8.86289Z" fill="#C5903A"/>
						<path d="M5.04741 8.86289C5.26857 8.86289 5.44785 8.68361 5.44785 8.46245C5.44785 8.2413 5.26857 8.06201 5.04741 8.06201C4.82626 8.06201 4.64697 8.2413 4.64697 8.46245C4.64697 8.68361 4.82626 8.86289 5.04741 8.86289Z" fill="#C5903A"/>
						<path d="M9.60698 8.86289C9.82814 8.86289 10.0074 8.68361 10.0074 8.46245C10.0074 8.2413 9.82814 8.06201 9.60698 8.06201C9.38583 8.06201 9.20654 8.2413 9.20654 8.46245C9.20654 8.68361 9.38583 8.86289 9.60698 8.86289Z" fill="#C5903A"/>
						<path d="M11.3887 8.86289C11.6099 8.86289 11.7892 8.68361 11.7892 8.46245C11.7892 8.2413 11.6099 8.06201 11.3887 8.06201C11.1676 8.06201 10.9883 8.2413 10.9883 8.46245C10.9883 8.68361 11.1676 8.86289 11.3887 8.86289Z" fill="#C5903A"/>
						<path d="M16.2859 8.86289C16.5071 8.86289 16.6864 8.68361 16.6864 8.46245C16.6864 8.2413 16.5071 8.06201 16.2859 8.06201C16.0648 8.06201 15.8855 8.2413 15.8855 8.46245C15.8855 8.68361 16.0648 8.86289 16.2859 8.86289Z" fill="#C5903A"/>
						<path d="M18.0677 8.86289C18.2888 8.86289 18.4681 8.68361 18.4681 8.46245C18.4681 8.2413 18.2888 8.06201 18.0677 8.06201C17.8465 8.06201 17.6672 8.2413 17.6672 8.46245C17.6672 8.68361 17.8465 8.86289 18.0677 8.86289Z" fill="#C5903A"/>
						<path d="M22.2894 8.86289C22.5105 8.86289 22.6898 8.68361 22.6898 8.46245C22.6898 8.2413 22.5105 8.06201 22.2894 8.06201C22.0682 8.06201 21.8889 8.2413 21.8889 8.46245C21.8889 8.68361 22.0682 8.86289 22.2894 8.86289Z" fill="#C5903A"/>
						<path d="M24.0711 8.86289C24.2923 8.86289 24.4715 8.68361 24.4715 8.46245C24.4715 8.2413 24.2923 8.06201 24.0711 8.06201C23.8499 8.06201 23.6707 8.2413 23.6707 8.46245C23.6707 8.68361 23.8499 8.86289 24.0711 8.86289Z" fill="#C5903A"/>
						<path d="M3.26543 16.461C3.48659 16.461 3.66587 16.2818 3.66587 16.0606C3.66587 15.8394 3.48659 15.6602 3.26543 15.6602C3.04427 15.6602 2.86499 15.8394 2.86499 16.0606C2.86499 16.2818 3.04427 16.461 3.26543 16.461Z" fill="#C5903A"/>
						<path d="M5.04741 16.461C5.26857 16.461 5.44785 16.2818 5.44785 16.0606C5.44785 15.8394 5.26857 15.6602 5.04741 15.6602C4.82626 15.6602 4.64697 15.8394 4.64697 16.0606C4.64697 16.2818 4.82626 16.461 5.04741 16.461Z" fill="#C5903A"/>
						<path d="M9.60698 16.461C9.82814 16.461 10.0074 16.2818 10.0074 16.0606C10.0074 15.8394 9.82814 15.6602 9.60698 15.6602C9.38583 15.6602 9.20654 15.8394 9.20654 16.0606C9.20654 16.2818 9.38583 16.461 9.60698 16.461Z" fill="#C5903A"/>
						<path d="M11.3887 16.461C11.6099 16.461 11.7892 16.2818 11.7892 16.0606C11.7892 15.8394 11.6099 15.6602 11.3887 15.6602C11.1676 15.6602 10.9883 15.8394 10.9883 16.0606C10.9883 16.2818 11.1676 16.461 11.3887 16.461Z" fill="#C5903A"/>
						<path d="M15.948 16.461C16.1692 16.461 16.3485 16.2818 16.3485 16.0606C16.3485 15.8394 16.1692 15.6602 15.948 15.6602C15.7269 15.6602 15.5476 15.8394 15.5476 16.0606C15.5476 16.2818 15.7269 16.461 15.948 16.461Z" fill="#C5903A"/>
						<path d="M17.73 16.461C17.9512 16.461 18.1305 16.2818 18.1305 16.0606C18.1305 15.8394 17.9512 15.6602 17.73 15.6602C17.5089 15.6602 17.3296 15.8394 17.3296 16.0606C17.3296 16.2818 17.5089 16.461 17.73 16.461Z" fill="#C5903A"/>
						<path d="M22.2894 16.461C22.5105 16.461 22.6898 16.2818 22.6898 16.0606C22.6898 15.8394 22.5105 15.6602 22.2894 15.6602C22.0682 15.6602 21.8889 15.8394 21.8889 16.0606C21.8889 16.2818 22.0682 16.461 22.2894 16.461Z" fill="#C5903A"/>
						<path d="M24.0711 16.461C24.2923 16.461 24.4715 16.2818 24.4715 16.0606C24.4715 15.8394 24.2923 15.6602 24.0711 15.6602C23.8499 15.6602 23.6707 15.8394 23.6707 16.0606C23.6707 16.2818 23.8499 16.461 24.0711 16.461Z" fill="#C5903A"/>
						<path d="M26.6591 10.2202C27.0328 10.2202 27.3368 9.9162 27.3368 9.5425V7.37938C27.3368 7.00568 27.0328 6.70172 26.6591 6.70172H25.8702V4.47752C25.8702 4.16688 25.7883 3.86036 25.6332 3.5911L23.7572 0.33354C23.6387 0.127821 23.4177 5.33628e-05 23.1803 5.33628e-05C22.9429 5.33628e-05 22.7219 0.127874 22.6034 0.33354L20.7273 3.5911C20.5724 3.86041 20.4904 4.16693 20.4904 4.47752V6.70172H19.5289V4.47752C19.5289 4.16683 19.4469 3.86025 19.2918 3.5911L17.4158 0.33354C17.2973 0.127821 17.0763 5.33628e-05 16.839 5.33628e-05C16.6016 5.33628e-05 16.3805 0.127821 16.2621 0.33354L14.3861 3.59105C14.231 3.86025 14.1491 4.16683 14.1491 4.47752V6.70172H13.1875V4.47752C13.1875 4.16693 13.1056 3.86041 12.9505 3.5911L11.0745 0.33354C10.9561 0.127821 10.7351 5.33628e-05 10.4976 5.33628e-05C10.2603 5.33628e-05 10.0392 0.127821 9.92073 0.33354L8.04469 3.5911C7.8897 3.86036 7.80774 4.16688 7.80774 4.47752V6.70172H6.84615V4.47752C6.84615 4.16683 6.76419 3.86025 6.60914 3.5911L4.73337 0.333487C4.61489 0.127767 4.3939 0 4.15647 0C3.91909 0 3.69804 0.127821 3.57957 0.333487L1.70358 3.59099C1.54853 3.8602 1.46657 4.16677 1.46657 4.47746V6.70167H0.677706C0.304015 6.70172 0 7.00574 0 7.37938V9.5425C0 9.9162 0.304015 10.2202 0.677706 10.2202H1.46657V11.1638C1.46657 11.385 1.64581 11.5642 1.86702 11.5642C2.08822 11.5642 2.26746 11.385 2.26746 11.1638V10.2202H6.04543V14.3013H2.26751V12.7656C2.26751 12.5444 2.08827 12.3651 1.86707 12.3651C1.64587 12.3651 1.46663 12.5444 1.46663 12.7656V14.3013H0.677706C0.304015 14.3013 0 14.6054 0 14.979V17.1422C0 17.5159 0.304015 17.8198 0.677706 17.8198H1.46657V20.4011C1.46657 20.6223 1.64581 20.8016 1.86702 20.8016H6.44587C6.66707 20.8016 6.84631 20.6223 6.84631 20.4011V17.8198H7.8079V20.4011C7.8079 20.6223 7.98714 20.8016 8.20834 20.8016H12.7872C13.0084 20.8016 13.1876 20.6223 13.1876 20.4011V17.8198H14.1492V20.4011C14.1492 20.6223 14.3284 20.8016 14.5496 20.8016H19.1285C19.3497 20.8016 19.5289 20.6223 19.5289 20.4011V17.8198H20.4904V20.4011C20.4904 20.6223 20.6697 20.8016 20.8909 20.8016H25.4697C25.6909 20.8016 25.8702 20.6223 25.8702 20.4011V17.8198H26.6591C27.0328 17.8198 27.3368 17.5158 27.3368 17.1422V14.979C27.3368 14.6054 27.0328 14.3013 26.6591 14.3013H25.8702V10.2202H26.6591ZM21.2913 4.47752C21.2913 4.30698 21.3363 4.13864 21.4214 3.99074L23.1803 0.936604L24.9391 3.99074C25.0242 4.13864 25.0692 4.30693 25.0692 4.47757V6.70178H21.2913V4.47752ZM14.9501 4.47752C14.9501 4.30693 14.9951 4.13858 15.0802 3.99074L16.8391 0.936657L18.5979 3.99079C18.683 4.13864 18.728 4.30693 18.728 4.47757V6.70178H14.9501V4.47752ZM8.60878 4.47752C8.60878 4.30693 8.65379 4.13858 8.73885 3.99074L10.4977 0.936604L12.2565 3.99074C12.3417 4.13869 12.3866 4.30698 12.3866 4.47757V6.70178H8.60868V4.47752H8.60878ZM2.26751 4.47752C2.26751 4.30693 2.31252 4.13858 2.39768 3.99074L4.15652 0.936604L5.91531 3.99079C6.00047 4.13864 6.04548 4.30693 6.04548 4.47757V6.70178H2.26751V4.47752ZM0.800882 7.5026H26.5359V9.41933H0.800882V7.5026ZM19.5289 14.3013V10.2202H20.4904V14.3013H19.5289ZM13.1876 14.3013V10.2202H14.1492V14.3013H13.1876ZM12.3868 10.2202V14.3013H8.60878V10.2202H12.3868ZM6.84631 10.2202H7.8079V14.3013H6.84631V10.2202ZM6.04548 20.0007H2.26751V17.8198H6.04548V20.0007ZM12.3868 20.0007H8.60878V17.8198H12.3868V20.0007ZM18.728 20.0007H14.9501V17.8198H18.728V20.0007ZM25.0692 20.0007H21.2913V17.8198H25.0692V20.0007ZM26.5359 17.0189H0.800882V15.1022H16.8391C17.0603 15.1022 17.2395 14.9229 17.2395 14.7018C17.2395 14.4806 17.0603 14.3013 16.8391 14.3013H14.9501V10.2202H18.728V14.3013H18.4408C18.2196 14.3013 18.0404 14.4806 18.0404 14.7018C18.0404 14.9229 18.2196 15.1022 18.4408 15.1022H26.5359V17.0189ZM25.0692 14.3013H21.2913V10.2202H25.0692V14.3013Z" fill="#C5903A"/>
						</svg>
					.adv-sngl__text.text Закритий, повністю вільний від проїзду автомобілів двір з ландшафтним благоустроєм, зоною відпочинку та дитячим ігровим містечком преміального рівня для відпочинку та розваги мешканців будинку.
	//- section.philosophy-double-section
		.philosophy-double-section__text.home-screen-description-block
			+img('index/advantages-decor2.png').philosophy-double-section__text-decor
			.home-screen-description-block__text-wrap
				.adv-sngl
					<svg class="adv-sngl__icon"  width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M31.4839 17.5486H30.9677V16.0002C30.9677 15.8633 30.9134 15.7321 30.8166 15.6353C30.7198 15.5385 30.5885 15.4841 30.4516 15.4841H29.9355V9.80669C29.9355 9.39603 29.7723 9.00219 29.482 8.71181C29.1916 8.42143 28.7978 8.2583 28.3871 8.2583H21.1613C20.7506 8.2583 20.3568 8.42143 20.0664 8.71181C19.776 9.00219 19.6129 9.39603 19.6129 9.80669V15.4841H19.0968C18.9599 15.4841 18.8286 15.5385 18.7318 15.6353C18.635 15.7321 18.5806 15.8633 18.5806 16.0002V17.5486H17.5484V12.9035C17.5484 12.7666 17.494 12.6353 17.3972 12.5385C17.3004 12.4417 17.1691 12.3873 17.0323 12.3873H12.9032C12.7663 12.3873 12.6351 12.4417 12.5383 12.5385C12.4415 12.6353 12.3871 12.7666 12.3871 12.9035V13.4196H11.871C11.4603 13.4196 11.0665 13.5827 10.7761 13.8731C10.4857 14.1635 10.3226 14.5573 10.3226 14.968C10.3226 15.3786 10.4857 15.7725 10.7761 16.0629C11.0665 16.3532 11.4603 16.5164 11.871 16.5164H12.3871V17.5486H7.22581V16.0002C7.22581 15.8633 7.17143 15.7321 7.07464 15.6353C6.97784 15.5385 6.84656 15.4841 6.70968 15.4841H6.19355V13.9357C6.19355 13.7988 6.13917 13.6676 6.04238 13.5708C5.94558 13.474 5.81431 13.4196 5.67742 13.4196H0.516129C0.379243 13.4196 0.247964 13.474 0.151171 13.5708C0.0543777 13.6676 0 13.7988 0 13.9357V16.0002C0 16.1371 0.0543777 16.2684 0.151171 16.3652C0.247964 16.462 0.379243 16.5164 0.516129 16.5164H1.03226V17.5486H0.516129C0.379243 17.5486 0.247964 17.603 0.151171 17.6998C0.0543777 17.7966 0 17.9279 0 18.0648V21.1615C0 21.2984 0.0543777 21.4297 0.151171 21.5265C0.247964 21.6233 0.379243 21.6777 0.516129 21.6777H2.06452V31.4841C2.06452 31.621 2.11889 31.7523 2.21569 31.8491C2.31248 31.9459 2.44376 32.0002 2.58065 32.0002H5.67742C5.81431 32.0002 5.94558 31.9459 6.04238 31.8491C6.13917 31.7523 6.19355 31.621 6.19355 31.4841V30.968H25.8064V31.4841C25.8064 31.621 25.8608 31.7523 25.9576 31.8491C26.0544 31.9459 26.1857 32.0002 26.3226 32.0002H29.4194C29.5562 32.0002 29.6875 31.9459 29.7843 31.8491C29.8811 31.7523 29.9355 31.621 29.9355 31.4841V21.6777H31.4839C31.6208 21.6777 31.752 21.6233 31.8488 21.5265C31.9456 21.4297 32 21.2984 32 21.1615V18.0648C32 17.9279 31.9456 17.7966 31.8488 17.6998C31.752 17.603 31.6208 17.5486 31.4839 17.5486ZM20.6452 9.80669C20.6452 9.6698 20.6995 9.53852 20.7963 9.44173C20.8931 9.34494 21.0244 9.29056 21.1613 9.29056H28.3871C28.524 9.29056 28.6553 9.34494 28.7521 9.44173C28.8488 9.53852 28.9032 9.6698 28.9032 9.80669V15.4841H20.6452V9.80669ZM19.6129 16.5164H29.9355V17.5486H19.6129V16.5164ZM11.871 15.4841C11.7341 15.4841 11.6028 15.4297 11.506 15.3329C11.4092 15.2361 11.3548 15.1049 11.3548 14.968C11.3548 14.8311 11.4092 14.6998 11.506 14.603C11.6028 14.5062 11.7341 14.4518 11.871 14.4518H12.3871V15.4841H11.871ZM13.4194 13.4196H16.5161V17.5486H13.4194V13.4196ZM1.03226 14.4518H5.16129V15.4841H1.03226V14.4518ZM2.06452 16.5164H6.19355V17.5486H2.06452V16.5164ZM3.09677 30.968V21.6777H5.16129V30.968H3.09677ZM6.19355 29.9357V21.6777H25.8064V29.9357H6.19355ZM28.9032 30.968H26.8387V21.6777H28.9032V30.968ZM30.9677 20.6454H1.03226V18.5809H30.9677V20.6454Z" fill="#C5903A"/>
						<path d="M24.7742 10.3228C24.3659 10.3228 23.9668 10.4438 23.6272 10.6707C23.2877 10.8975 23.0231 11.22 22.8669 11.5972C22.7106 11.9745 22.6697 12.3896 22.7494 12.79C22.829 13.1905 23.0257 13.5584 23.3144 13.8471C23.6031 14.1358 23.971 14.3325 24.3715 14.4121C24.7719 14.4918 25.187 14.4509 25.5643 14.2946C25.9415 14.1384 26.264 13.8738 26.4908 13.5343C26.7177 13.1947 26.8387 12.7956 26.8387 12.3873C26.8387 11.8397 26.6212 11.3146 26.2341 10.9274C25.8469 10.5403 25.3218 10.3228 24.7742 10.3228ZM24.7742 13.4195C24.5701 13.4195 24.3705 13.359 24.2007 13.2456C24.031 13.1321 23.8987 12.9709 23.8206 12.7823C23.7424 12.5937 23.722 12.3861 23.7618 12.1859C23.8016 11.9856 23.9 11.8017 24.0443 11.6574C24.1887 11.513 24.3726 11.4147 24.5728 11.3748C24.7731 11.335 24.9806 11.3555 25.1693 11.4336C25.3579 11.5117 25.5191 11.644 25.6325 11.8138C25.746 11.9835 25.8065 12.1831 25.8065 12.3873C25.8065 12.661 25.6977 12.9236 25.5042 13.1172C25.3106 13.3108 25.048 13.4195 24.7742 13.4195Z" fill="#C5903A"/>
						<path d="M13.724 9.2901C13.8601 9.42737 13.9366 9.61289 13.9366 9.80623C13.9366 9.99958 13.8601 10.1851 13.724 10.3224L13.053 10.9882L13.7859 11.7211L14.4517 11.0501C14.6156 10.887 14.7456 10.6932 14.8343 10.4797C14.9231 10.2663 14.9687 10.0374 14.9687 9.80623C14.9687 9.57506 14.9231 9.34618 14.8343 9.13271C14.7456 8.91925 14.6156 8.72542 14.4517 8.56236L14.1472 8.25784C14.0119 8.12011 13.9359 7.93482 13.9356 7.74171V7.22559H12.9033V7.74171C12.9021 7.97299 12.9471 8.20218 13.0357 8.4158C13.1244 8.62941 13.2548 8.82314 13.4195 8.98559L13.724 9.2901Z" fill="#C5903A"/>
						<path d="M15.7884 9.2901C15.9246 9.42737 16.001 9.61289 16.001 9.80623C16.001 9.99958 15.9246 10.1851 15.7884 10.3224L15.1175 10.9882L15.8504 11.7211L16.5162 11.0501C16.68 10.887 16.8101 10.6932 16.8988 10.4797C16.9875 10.2663 17.0332 10.0374 17.0332 9.80623C17.0332 9.57506 16.9875 9.34618 16.8988 9.13271C16.8101 8.91925 16.68 8.72542 16.5162 8.56236L16.2117 8.25784C16.0763 8.12011 16.0004 7.93482 16.0001 7.74171V7.22559H14.9678V7.74171C14.9665 7.97299 15.0116 8.20218 15.1002 8.4158C15.1888 8.62941 15.3193 8.82314 15.4839 8.98559L15.7884 9.2901Z" fill="#C5903A"/>
						<path d="M5.67742 11.3548C6.80031 11.3548 7.89798 11.0219 8.83162 10.398C9.76527 9.77418 10.493 8.88749 10.9227 7.85008C11.3524 6.81266 11.4648 5.67112 11.2457 4.56981C11.0267 3.4685 10.486 2.45688 9.69196 1.66288C8.89796 0.868879 7.88634 0.328157 6.78503 0.109093C5.68372 -0.109972 4.54218 0.00245996 3.50477 0.43217C2.46735 0.861881 1.58066 1.58957 0.956818 2.52322C0.332975 3.45686 0 4.55453 0 5.67742C0 7.18317 0.598155 8.62724 1.66288 9.69196C2.7276 10.7567 4.17167 11.3548 5.67742 11.3548ZM2.06452 2.78194L2.73032 3.46323L3.46323 2.73032L2.78194 2.06452C3.46289 1.50993 4.28869 1.16241 5.16129 1.06323V2.06452H6.19355V1.06323C7.06615 1.16241 7.89195 1.50993 8.5729 2.06452L7.89161 2.73032L8.62452 3.46323L9.29032 2.78194C9.84491 3.46289 10.1924 4.28869 10.2916 5.16129H9.29032V6.19355H10.2916C10.1924 7.06615 9.84491 7.89195 9.29032 8.57291L8.61419 7.89162L7.88129 8.62452L8.5729 9.29033C7.89195 9.84492 7.06615 10.1924 6.19355 10.2916V9.29033H5.16129V10.2916C4.28869 10.1924 3.46289 9.84492 2.78194 9.29033L3.46323 8.6142L2.73032 7.89162L2.06452 8.57291C1.50993 7.89195 1.16241 7.06615 1.06323 6.19355H2.06452V5.16129H1.06323C1.16241 4.28869 1.50993 3.46289 2.06452 2.78194Z" fill="#C5903A"/>
						<path d="M7.37558 8.10829L8.10848 7.37539L6.19364 5.46571V3.09668H5.16139V5.67732C5.16099 5.74525 5.17401 5.81259 5.1997 5.87547C5.22538 5.93835 5.26323 5.99555 5.31106 6.04378L7.37558 8.10829Z" fill="#C5903A"/>
						</svg>
					.adv-sngl__text.text Наявність офісного центу в комплексі дозволить вам вести свій бізнес.
				.adv-sngl
					<svg class="adv-sngl__icon" width="28" height="21" viewBox="0 0 28 21" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M3.26543 8.86289C3.48659 8.86289 3.66587 8.68361 3.66587 8.46245C3.66587 8.2413 3.48659 8.06201 3.26543 8.06201C3.04427 8.06201 2.86499 8.2413 2.86499 8.46245C2.86499 8.68361 3.04427 8.86289 3.26543 8.86289Z" fill="#C5903A"/>
						<path d="M5.04741 8.86289C5.26857 8.86289 5.44785 8.68361 5.44785 8.46245C5.44785 8.2413 5.26857 8.06201 5.04741 8.06201C4.82626 8.06201 4.64697 8.2413 4.64697 8.46245C4.64697 8.68361 4.82626 8.86289 5.04741 8.86289Z" fill="#C5903A"/>
						<path d="M9.60698 8.86289C9.82814 8.86289 10.0074 8.68361 10.0074 8.46245C10.0074 8.2413 9.82814 8.06201 9.60698 8.06201C9.38583 8.06201 9.20654 8.2413 9.20654 8.46245C9.20654 8.68361 9.38583 8.86289 9.60698 8.86289Z" fill="#C5903A"/>
						<path d="M11.3887 8.86289C11.6099 8.86289 11.7892 8.68361 11.7892 8.46245C11.7892 8.2413 11.6099 8.06201 11.3887 8.06201C11.1676 8.06201 10.9883 8.2413 10.9883 8.46245C10.9883 8.68361 11.1676 8.86289 11.3887 8.86289Z" fill="#C5903A"/>
						<path d="M16.2859 8.86289C16.5071 8.86289 16.6864 8.68361 16.6864 8.46245C16.6864 8.2413 16.5071 8.06201 16.2859 8.06201C16.0648 8.06201 15.8855 8.2413 15.8855 8.46245C15.8855 8.68361 16.0648 8.86289 16.2859 8.86289Z" fill="#C5903A"/>
						<path d="M18.0677 8.86289C18.2888 8.86289 18.4681 8.68361 18.4681 8.46245C18.4681 8.2413 18.2888 8.06201 18.0677 8.06201C17.8465 8.06201 17.6672 8.2413 17.6672 8.46245C17.6672 8.68361 17.8465 8.86289 18.0677 8.86289Z" fill="#C5903A"/>
						<path d="M22.2894 8.86289C22.5105 8.86289 22.6898 8.68361 22.6898 8.46245C22.6898 8.2413 22.5105 8.06201 22.2894 8.06201C22.0682 8.06201 21.8889 8.2413 21.8889 8.46245C21.8889 8.68361 22.0682 8.86289 22.2894 8.86289Z" fill="#C5903A"/>
						<path d="M24.0711 8.86289C24.2923 8.86289 24.4715 8.68361 24.4715 8.46245C24.4715 8.2413 24.2923 8.06201 24.0711 8.06201C23.8499 8.06201 23.6707 8.2413 23.6707 8.46245C23.6707 8.68361 23.8499 8.86289 24.0711 8.86289Z" fill="#C5903A"/>
						<path d="M3.26543 16.461C3.48659 16.461 3.66587 16.2818 3.66587 16.0606C3.66587 15.8394 3.48659 15.6602 3.26543 15.6602C3.04427 15.6602 2.86499 15.8394 2.86499 16.0606C2.86499 16.2818 3.04427 16.461 3.26543 16.461Z" fill="#C5903A"/>
						<path d="M5.04741 16.461C5.26857 16.461 5.44785 16.2818 5.44785 16.0606C5.44785 15.8394 5.26857 15.6602 5.04741 15.6602C4.82626 15.6602 4.64697 15.8394 4.64697 16.0606C4.64697 16.2818 4.82626 16.461 5.04741 16.461Z" fill="#C5903A"/>
						<path d="M9.60698 16.461C9.82814 16.461 10.0074 16.2818 10.0074 16.0606C10.0074 15.8394 9.82814 15.6602 9.60698 15.6602C9.38583 15.6602 9.20654 15.8394 9.20654 16.0606C9.20654 16.2818 9.38583 16.461 9.60698 16.461Z" fill="#C5903A"/>
						<path d="M11.3887 16.461C11.6099 16.461 11.7892 16.2818 11.7892 16.0606C11.7892 15.8394 11.6099 15.6602 11.3887 15.6602C11.1676 15.6602 10.9883 15.8394 10.9883 16.0606C10.9883 16.2818 11.1676 16.461 11.3887 16.461Z" fill="#C5903A"/>
						<path d="M15.948 16.461C16.1692 16.461 16.3485 16.2818 16.3485 16.0606C16.3485 15.8394 16.1692 15.6602 15.948 15.6602C15.7269 15.6602 15.5476 15.8394 15.5476 16.0606C15.5476 16.2818 15.7269 16.461 15.948 16.461Z" fill="#C5903A"/>
						<path d="M17.73 16.461C17.9512 16.461 18.1305 16.2818 18.1305 16.0606C18.1305 15.8394 17.9512 15.6602 17.73 15.6602C17.5089 15.6602 17.3296 15.8394 17.3296 16.0606C17.3296 16.2818 17.5089 16.461 17.73 16.461Z" fill="#C5903A"/>
						<path d="M22.2894 16.461C22.5105 16.461 22.6898 16.2818 22.6898 16.0606C22.6898 15.8394 22.5105 15.6602 22.2894 15.6602C22.0682 15.6602 21.8889 15.8394 21.8889 16.0606C21.8889 16.2818 22.0682 16.461 22.2894 16.461Z" fill="#C5903A"/>
						<path d="M24.0711 16.461C24.2923 16.461 24.4715 16.2818 24.4715 16.0606C24.4715 15.8394 24.2923 15.6602 24.0711 15.6602C23.8499 15.6602 23.6707 15.8394 23.6707 16.0606C23.6707 16.2818 23.8499 16.461 24.0711 16.461Z" fill="#C5903A"/>
						<path d="M26.6591 10.2202C27.0328 10.2202 27.3368 9.9162 27.3368 9.5425V7.37938C27.3368 7.00568 27.0328 6.70172 26.6591 6.70172H25.8702V4.47752C25.8702 4.16688 25.7883 3.86036 25.6332 3.5911L23.7572 0.33354C23.6387 0.127821 23.4177 5.33628e-05 23.1803 5.33628e-05C22.9429 5.33628e-05 22.7219 0.127874 22.6034 0.33354L20.7273 3.5911C20.5724 3.86041 20.4904 4.16693 20.4904 4.47752V6.70172H19.5289V4.47752C19.5289 4.16683 19.4469 3.86025 19.2918 3.5911L17.4158 0.33354C17.2973 0.127821 17.0763 5.33628e-05 16.839 5.33628e-05C16.6016 5.33628e-05 16.3805 0.127821 16.2621 0.33354L14.3861 3.59105C14.231 3.86025 14.1491 4.16683 14.1491 4.47752V6.70172H13.1875V4.47752C13.1875 4.16693 13.1056 3.86041 12.9505 3.5911L11.0745 0.33354C10.9561 0.127821 10.7351 5.33628e-05 10.4976 5.33628e-05C10.2603 5.33628e-05 10.0392 0.127821 9.92073 0.33354L8.04469 3.5911C7.8897 3.86036 7.80774 4.16688 7.80774 4.47752V6.70172H6.84615V4.47752C6.84615 4.16683 6.76419 3.86025 6.60914 3.5911L4.73337 0.333487C4.61489 0.127767 4.3939 0 4.15647 0C3.91909 0 3.69804 0.127821 3.57957 0.333487L1.70358 3.59099C1.54853 3.8602 1.46657 4.16677 1.46657 4.47746V6.70167H0.677706C0.304015 6.70172 0 7.00574 0 7.37938V9.5425C0 9.9162 0.304015 10.2202 0.677706 10.2202H1.46657V11.1638C1.46657 11.385 1.64581 11.5642 1.86702 11.5642C2.08822 11.5642 2.26746 11.385 2.26746 11.1638V10.2202H6.04543V14.3013H2.26751V12.7656C2.26751 12.5444 2.08827 12.3651 1.86707 12.3651C1.64587 12.3651 1.46663 12.5444 1.46663 12.7656V14.3013H0.677706C0.304015 14.3013 0 14.6054 0 14.979V17.1422C0 17.5159 0.304015 17.8198 0.677706 17.8198H1.46657V20.4011C1.46657 20.6223 1.64581 20.8016 1.86702 20.8016H6.44587C6.66707 20.8016 6.84631 20.6223 6.84631 20.4011V17.8198H7.8079V20.4011C7.8079 20.6223 7.98714 20.8016 8.20834 20.8016H12.7872C13.0084 20.8016 13.1876 20.6223 13.1876 20.4011V17.8198H14.1492V20.4011C14.1492 20.6223 14.3284 20.8016 14.5496 20.8016H19.1285C19.3497 20.8016 19.5289 20.6223 19.5289 20.4011V17.8198H20.4904V20.4011C20.4904 20.6223 20.6697 20.8016 20.8909 20.8016H25.4697C25.6909 20.8016 25.8702 20.6223 25.8702 20.4011V17.8198H26.6591C27.0328 17.8198 27.3368 17.5158 27.3368 17.1422V14.979C27.3368 14.6054 27.0328 14.3013 26.6591 14.3013H25.8702V10.2202H26.6591ZM21.2913 4.47752C21.2913 4.30698 21.3363 4.13864 21.4214 3.99074L23.1803 0.936604L24.9391 3.99074C25.0242 4.13864 25.0692 4.30693 25.0692 4.47757V6.70178H21.2913V4.47752ZM14.9501 4.47752C14.9501 4.30693 14.9951 4.13858 15.0802 3.99074L16.8391 0.936657L18.5979 3.99079C18.683 4.13864 18.728 4.30693 18.728 4.47757V6.70178H14.9501V4.47752ZM8.60878 4.47752C8.60878 4.30693 8.65379 4.13858 8.73885 3.99074L10.4977 0.936604L12.2565 3.99074C12.3417 4.13869 12.3866 4.30698 12.3866 4.47757V6.70178H8.60868V4.47752H8.60878ZM2.26751 4.47752C2.26751 4.30693 2.31252 4.13858 2.39768 3.99074L4.15652 0.936604L5.91531 3.99079C6.00047 4.13864 6.04548 4.30693 6.04548 4.47757V6.70178H2.26751V4.47752ZM0.800882 7.5026H26.5359V9.41933H0.800882V7.5026ZM19.5289 14.3013V10.2202H20.4904V14.3013H19.5289ZM13.1876 14.3013V10.2202H14.1492V14.3013H13.1876ZM12.3868 10.2202V14.3013H8.60878V10.2202H12.3868ZM6.84631 10.2202H7.8079V14.3013H6.84631V10.2202ZM6.04548 20.0007H2.26751V17.8198H6.04548V20.0007ZM12.3868 20.0007H8.60878V17.8198H12.3868V20.0007ZM18.728 20.0007H14.9501V17.8198H18.728V20.0007ZM25.0692 20.0007H21.2913V17.8198H25.0692V20.0007ZM26.5359 17.0189H0.800882V15.1022H16.8391C17.0603 15.1022 17.2395 14.9229 17.2395 14.7018C17.2395 14.4806 17.0603 14.3013 16.8391 14.3013H14.9501V10.2202H18.728V14.3013H18.4408C18.2196 14.3013 18.0404 14.4806 18.0404 14.7018C18.0404 14.9229 18.2196 15.1022 18.4408 15.1022H26.5359V17.0189ZM25.0692 14.3013H21.2913V10.2202H25.0692V14.3013Z" fill="#C5903A"/>
						</svg>
					.adv-sngl__text.text Закритий, повністю вільний від проїзду автомобілів двір з ландшафтним благоустроєм, зоною відпочинку та дитячим ігровим містечком преміального рівня для відпочинку та розваги мешканців будинку.
		picture.philosophy-double-section__img
			img(data-src="./assets/images/index/advantages2.jpg")
	section.philosophy-double-section
		.philosophy-double-section__text.home-screen-description-block
			+img('index/advantages-decor3.png').philosophy-double-section__text-decor
			.home-screen-description-block__text-wrap
				.adv-sngl
					<svg class="adv-sngl__icon" width="37" height="15" viewBox="0 0 37 15" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M35.7516 9.63189V8.22504C35.7516 6.28539 34.1737 4.70739 32.234 4.70739H29.4086C29.3899 4.6657 29.3662 4.62559 29.336 4.5884L26.1892 0.712168C26.1845 0.706458 26.1798 0.700891 26.175 0.695395C25.785 0.253449 25.2235 0 24.6342 0H18.1872C17.8915 0 17.6519 0.239673 17.6519 0.535303C17.6519 0.830933 17.8915 1.07061 18.1872 1.07061H18.6502V4.70739H14.8087V1.07061H16.0459C16.3415 1.07061 16.5812 0.830933 16.5812 0.535303C16.5812 0.239673 16.3415 0 16.0459 0H5.04805C3.5567 0 2.34334 1.21335 2.34334 2.70478V4.70739H2.30287C1.36567 4.70739 0.603108 5.46994 0.603108 6.40722V9.63189C0.253234 9.74837 0 10.0783 0 10.4667V11.6469C0 12.1323 0.394911 12.5272 0.880324 12.5272H2.93096C2.94167 12.5272 2.95216 12.5262 2.96272 12.5256C3.4258 13.9188 4.74621 14.9272 6.29973 14.9272C7.85268 14.9272 9.1726 13.9195 9.63617 12.5272H16.0714C16.367 12.5272 16.6067 12.2875 16.6067 11.9919C16.6067 11.6962 16.367 11.4566 16.0714 11.4566H9.81353C9.8136 11.4479 9.81418 11.4392 9.81418 11.4305C9.81418 11.1646 9.7832 10.906 9.72646 10.657H24.7685C24.7117 10.906 24.6808 11.1646 24.6808 11.4305C24.6808 11.4392 24.6813 11.4479 24.6814 11.4566H18.2127C17.917 11.4566 17.6773 11.6962 17.6773 11.9919C17.6773 12.2875 17.917 12.5272 18.2127 12.5272H24.8588C25.3223 13.9195 26.6423 14.9272 28.1952 14.9272C29.7481 14.9272 31.0681 13.9195 31.5316 12.5272H35.4744C35.9598 12.5272 36.3547 12.1323 36.3547 11.6469V10.4667C36.3546 10.0783 36.1014 9.74837 35.7516 9.63189ZM32.9416 5.8827C33.6934 6.11031 34.2929 6.69051 34.5477 7.43022H33.3905C33.1429 7.43022 32.9416 7.22881 32.9416 6.98121V5.8827ZM19.7208 1.07061H24.6342C24.9131 1.07061 25.1792 1.18923 25.3657 1.39643L28.0535 4.70739H19.7208V1.07061ZM9.58742 1.07061H13.7382V4.70739H9.58742V1.07061ZM5.55516 2.70478C5.55516 1.86578 6.18311 1.16717 7.0159 1.07967C7.0351 1.07767 7.05387 1.07453 7.07228 1.07061H8.51682V4.70739H5.55516V2.70478ZM3.41395 2.70478C3.41395 1.80947 4.13775 1.08039 5.03078 1.07104C4.68676 1.52604 4.48456 2.09275 4.48456 2.70478V4.70739H3.41395V2.70478ZM1.07061 11.4566V10.657H2.87301C2.81627 10.9061 2.78529 11.1647 2.78529 11.4306C2.78529 11.4393 2.78586 11.4479 2.78593 11.4566H1.07061ZM6.29973 13.8566C4.9522 13.8566 3.8559 12.7683 3.8559 11.4306C3.8559 10.0928 4.9522 9.00451 6.29973 9.00451C7.64727 9.00451 8.74357 10.0928 8.74357 11.4306C8.74357 12.7683 7.64727 13.8566 6.29973 13.8566ZM6.29973 7.93391C5.04177 7.93391 3.93669 8.59526 3.31567 9.58642H1.67371V6.40722C1.67371 6.06027 1.956 5.77799 2.30287 5.77799H18.6502V9.58642H9.2838C8.6627 8.59526 7.55762 7.93391 6.29973 7.93391ZM28.1952 13.8566C26.8477 13.8566 25.7514 12.7683 25.7514 11.4306C25.7514 10.0928 26.8477 9.00451 28.1952 9.00451C29.5427 9.00451 30.639 10.0928 30.639 11.4306C30.639 12.7683 29.5427 13.8566 28.1952 13.8566ZM28.1952 7.93391C26.9372 7.93391 25.8322 8.59526 25.2111 9.58642H19.7209V5.77799H31.871V6.98121C31.871 7.81914 32.5527 8.50083 33.3906 8.50083H34.6811V9.58642H31.2808C31.2481 9.58642 31.2162 9.58978 31.1851 9.59542C30.5651 8.59918 29.4569 7.93391 28.1952 7.93391ZM35.284 11.4566H31.709C31.7091 11.4479 31.7096 11.4393 31.7096 11.4306C31.7096 11.1647 31.6787 10.9061 31.6219 10.657H35.284V11.4566Z" fill="#C5903A"/>
						<path d="M28.1953 9.85645C27.3238 9.85645 26.6147 10.5627 26.6147 11.4307C26.6147 12.2988 27.3238 13.005 28.1953 13.005C29.0669 13.005 29.7759 12.2988 29.7759 11.4307C29.7758 10.5627 29.0669 9.85645 28.1953 9.85645ZM28.1953 11.9343C27.9141 11.9343 27.6854 11.7085 27.6854 11.4307C27.6854 11.1529 27.9141 10.927 28.1953 10.927C28.4765 10.927 28.7053 11.1529 28.7053 11.4307C28.7052 11.7085 28.4765 11.9343 28.1953 11.9343Z" fill="#C5903A"/>
						<path d="M6.29974 9.85645C5.42826 9.85645 4.71924 10.5627 4.71924 11.4307C4.71924 12.2988 5.42826 13.005 6.29974 13.005C7.17121 13.005 7.88031 12.2988 7.88031 11.4307C7.88024 10.5627 7.17121 9.85645 6.29974 9.85645ZM6.29974 11.9343C6.0186 11.9343 5.78984 11.7085 5.78984 11.4307C5.78984 11.1529 6.0186 10.927 6.29974 10.927C6.58088 10.927 6.8097 11.1529 6.8097 11.4307C6.80963 11.7085 6.58088 11.9343 6.29974 11.9343Z" fill="#C5903A"/>
						<path d="M13.4892 6.26025H12.7738C12.4782 6.26025 12.2385 6.49993 12.2385 6.79556C12.2385 7.09119 12.4782 7.33086 12.7738 7.33086H13.4892C13.7848 7.33086 14.0245 7.09119 14.0245 6.79556C14.0245 6.49993 13.7848 6.26025 13.4892 6.26025Z" fill="#C5903A"/>
						<path d="M22.0974 6.06885H21.382C21.0863 6.06885 20.8467 6.30852 20.8467 6.60415C20.8467 6.89978 21.0863 7.13945 21.382 7.13945H22.0974C22.3931 7.13945 22.6327 6.89978 22.6327 6.60415C22.6327 6.30852 22.3931 6.06885 22.0974 6.06885Z" fill="#C5903A"/>
						</svg>

					.adv-sngl__text.text Наявність дворівневого підземного паркінгу.
				.adv-sngl
					<svg class="adv-sngl__icon" width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M25.5517 18.8583H25.1034V9.44449H25.5517C26.2945 9.44449 26.8966 8.8424 26.8966 8.09966C26.8966 7.35692 26.2945 6.75483 25.5517 6.75483H25.1034V6.08242C25.1012 5.47853 24.7525 4.92962 24.2069 4.6708V2.27207C24.2069 1.52934 23.6048 0.927246 22.8621 0.927246H16.5862C15.8435 0.927246 15.2414 1.52934 15.2414 2.27207V4.53631C14.4714 4.64625 13.8987 5.3046 13.8966 6.08242V6.75483H13V6.08242C13 5.2159 12.2976 4.51345 11.431 4.51345C10.5645 4.51345 9.86207 5.2159 9.86207 6.08242V6.75483H8.96552V6.08242C8.96552 5.2159 8.26307 4.51345 7.39655 4.51345C6.53003 4.51345 5.82759 5.2159 5.82759 6.08242V6.75483H4.93103V6.08242C4.93103 5.2159 4.22859 4.51345 3.36207 4.51345C2.49555 4.51345 1.7931 5.2159 1.7931 6.08242V6.75483H1.34483C0.602091 6.75483 0 7.35692 0 8.09966C0 8.8424 0.602091 9.44449 1.34483 9.44449H1.7931V18.8583H1.34483C0.602091 18.8583 0 19.4604 0 20.2031C0 20.9458 0.602091 21.5479 1.34483 21.5479H1.81597C1.92591 22.3179 2.58425 22.8906 3.36207 22.8928C3.43721 22.8906 3.51213 22.883 3.58621 22.8699V26.0307H0.896552C0.648991 26.0307 0.448276 26.2314 0.448276 26.479C0.448276 26.7265 0.648991 26.9272 0.896552 26.9272H26C26.2476 26.9272 26.4483 26.7265 26.4483 26.479C26.4483 26.2314 26.2476 26.0307 26 26.0307H23.3103V22.8699C23.3844 22.883 23.4593 22.8906 23.5345 22.8928C24.3123 22.8906 24.9706 22.3179 25.0806 21.5479H25.5517C26.2945 21.5479 26.8966 20.9458 26.8966 20.2031C26.8966 19.4604 26.2945 18.8583 25.5517 18.8583ZM25.1034 7.65138H25.5517C25.7993 7.65138 26 7.8521 26 8.09966C26 8.34722 25.7993 8.54794 25.5517 8.54794H25.1034V7.65138ZM1.7931 20.6514H1.34483C1.09727 20.6514 0.896552 20.4507 0.896552 20.2031C0.896552 19.9555 1.09727 19.7548 1.34483 19.7548H1.7931V20.6514ZM1.7931 8.54794H1.34483C1.09727 8.54794 0.896552 8.34722 0.896552 8.09966C0.896552 7.8521 1.09727 7.65138 1.34483 7.65138H1.7931V8.54794ZM4.03448 21.3238C4.03448 21.6951 3.73341 21.9962 3.36207 21.9962C2.99073 21.9962 2.68966 21.6951 2.68966 21.3238V6.08242C2.68966 5.71108 2.99073 5.41 3.36207 5.41C3.73341 5.41 4.03448 5.71108 4.03448 6.08242V21.3238ZM4.93103 7.65138H5.82759V20.6514H4.93103V7.65138ZM6.27586 26.0307H4.48276V25.1341H6.27586V26.0307ZM6.27586 22.4445V24.2376H4.48276V22.4445C4.48276 22.4369 4.47872 22.431 4.47872 22.4234C4.71166 22.1849 4.86217 21.8781 4.90817 21.5479H5.84955C5.89556 21.8781 6.04606 22.1849 6.279 22.4234C6.2799 22.431 6.27586 22.4369 6.27586 22.4445ZM14.7931 6.08242C14.7931 5.71108 15.0942 5.41 15.4655 5.41C15.8369 5.41 16.1379 5.71108 16.1379 6.08242V21.3238C16.1379 21.6951 15.8369 21.9962 15.4655 21.9962C15.0942 21.9962 14.7931 21.6951 14.7931 21.3238V6.08242ZM13 7.65138H13.8966V20.6514H13V7.65138ZM10.7586 6.08242C10.7586 5.71108 11.0597 5.41 11.431 5.41C11.8024 5.41 12.1034 5.71108 12.1034 6.08242V21.3238C12.1034 21.6951 11.8024 21.9962 11.431 21.9962C11.0597 21.9962 10.7586 21.6951 10.7586 21.3238V6.08242ZM8.96552 7.65138H9.86207V20.6514H8.96552V7.65138ZM6.72414 21.3238V6.08242C6.72414 5.71108 7.02521 5.41 7.39655 5.41C7.76789 5.41 8.06897 5.71108 8.06897 6.08242V21.3238C8.06897 21.6951 7.76789 21.9962 7.39655 21.9962C7.02521 21.9962 6.72414 21.6951 6.72414 21.3238ZM19.7241 26.0307H7.17241V22.8699C7.24649 22.883 7.32141 22.8906 7.39655 22.8928C8.17437 22.8906 8.83272 22.3179 8.94265 21.5479H9.88403C10.0024 22.4021 10.7908 22.9985 11.645 22.88C12.3371 22.7841 12.8812 22.24 12.9771 21.5479H13.9185C14.0369 22.4021 14.8253 22.9985 15.6795 22.88C16.3716 22.7841 16.9157 22.24 17.0116 21.5479H17.953C18.063 22.3182 18.7218 22.891 19.5 22.8928C19.5751 22.8906 19.6501 22.883 19.7241 22.8699V26.0307ZM17.0345 20.6514V7.65138H17.931V20.6514H17.0345ZM20.1724 21.3238C20.1724 21.6951 19.8713 21.9962 19.5 21.9962C19.1287 21.9962 18.8276 21.6951 18.8276 21.3238V6.08242C18.8276 5.71108 19.1287 5.41 19.5 5.41C19.8713 5.41 20.1724 5.71108 20.1724 6.08242V21.3238ZM22.4138 26.0307H20.6207V25.1341H22.4138V26.0307ZM22.4138 22.4445V24.2376H20.6207V22.4445C20.6207 22.4369 20.6167 22.431 20.6167 22.4234C20.8496 22.1849 21.0001 21.8781 21.0461 21.5479H21.9875C22.0335 21.8781 22.184 22.1849 22.4169 22.4234C22.4178 22.431 22.4138 22.4369 22.4138 22.4445ZM21.069 20.6514V7.65138H21.9655V20.6514H21.069ZM21.9655 6.08242V6.75483H21.069V6.08242C21.069 5.2159 20.3665 4.51345 19.5 4.51345C18.6335 4.51345 17.931 5.2159 17.931 6.08242V6.75483H17.0345V6.08242C17.0322 5.47853 16.6835 4.92962 16.1379 4.6708V2.27207C16.1379 2.02451 16.3386 1.8238 16.5862 1.8238H22.8621C23.1096 1.8238 23.3103 2.02451 23.3103 2.27207V4.53631C22.5404 4.64625 21.9677 5.3046 21.9655 6.08242ZM24.2069 21.3238C24.2069 21.6951 23.9058 21.9962 23.5345 21.9962C23.1631 21.9962 22.8621 21.6951 22.8621 21.3238V6.08242C22.8621 5.71108 23.1631 5.41 23.5345 5.41C23.9058 5.41 24.2069 5.71108 24.2069 6.08242V21.3238ZM25.5517 20.6514H25.1034V19.7548H25.5517C25.7993 19.7548 26 19.9555 26 20.2031C26 20.4507 25.7993 20.6514 25.5517 20.6514Z" fill="#C5903A"/>
						<path d="M17.4827 4.06508C17.9779 4.06508 18.3793 3.66368 18.3793 3.16852C18.3793 2.67337 17.9779 2.27197 17.4827 2.27197C16.9876 2.27197 16.5862 2.67337 16.5862 3.16852C16.5862 3.66368 16.9876 4.06508 17.4827 4.06508Z" fill="#C5903A"/>
						<path d="M19.7242 4.06508C20.2193 4.06508 20.6207 3.66368 20.6207 3.16852C20.6207 2.67337 20.2193 2.27197 19.7242 2.27197C19.229 2.27197 18.8276 2.67337 18.8276 3.16852C18.8276 3.66368 19.229 4.06508 19.7242 4.06508Z" fill="#C5903A"/>
						<path d="M21.9656 4.06508C22.4608 4.06508 22.8622 3.66368 22.8622 3.16852C22.8622 2.67337 22.4608 2.27197 21.9656 2.27197C21.4705 2.27197 21.0691 2.67337 21.0691 3.16852C21.0691 3.66368 21.4705 4.06508 21.9656 4.06508Z" fill="#C5903A"/>
						</svg>
					.adv-sngl__text.text Автономне опалення.
				.adv-sngl
					<svg  class="adv-sngl__icon" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M28.5287 19.6598V9.98717C28.5287 9.75005 28.3365 9.55781 28.0993 9.55781C27.8622 9.55781 27.67 9.75005 27.67 9.98717V19.5338H26.6309V6.90898C26.6309 6.62234 26.8638 6.38917 27.1501 6.38917C27.4368 6.38917 27.6699 6.62234 27.6699 6.90898V7.98351C27.6699 8.22063 27.8621 8.41287 28.0993 8.41287C28.3365 8.41287 28.5286 8.22063 28.5286 7.98351V6.90898C28.5286 6.14884 27.9102 5.53046 27.1501 5.53046C26.3991 5.53046 25.7869 6.1347 25.7729 6.88276H25.0223C24.2387 6.88276 23.6012 7.52026 23.6012 8.30387V15.2303C23.6012 16.0139 24.2387 16.6514 25.0223 16.6514H25.7723V19.5338H20.2292L19.9779 16.0078H21.4279C21.8392 16.0078 22.1736 15.6733 22.1736 15.2622V12.8927C22.1736 12.4816 21.8391 12.1471 21.4279 12.1471H18.2588C18.6296 11.716 18.8546 11.156 18.8546 10.5442C18.8546 9.18697 17.7503 8.08272 16.393 8.08272C15.0358 8.08272 13.9315 9.18697 13.9315 10.5442C13.9315 11.1561 14.1564 11.716 14.5272 12.1471H13.2242V7.17346H13.6152C13.8867 7.17346 14.1301 7.01168 14.2352 6.76128C14.3403 6.51088 14.2852 6.22384 14.0951 6.03006L9.28342 1.12859C9.15593 0.998748 8.9855 0.927246 8.80363 0.927246C8.62175 0.927246 8.45133 0.998748 8.32378 1.12859L3.51219 6.03C3.32196 6.22378 3.26688 6.51082 3.37193 6.76122C3.47704 7.01162 3.7204 7.17346 3.99198 7.17346H4.38286V12.1471H0.745648C0.334497 12.1471 0 12.4815 0 12.8927V15.2622C0 15.6733 0.334497 16.0078 0.745648 16.0078H2.19527L1.96233 19.2823C1.9455 19.5189 2.12359 19.7242 2.36014 19.741C2.37056 19.7418 2.38081 19.7422 2.39105 19.7422C2.61426 19.7422 2.80278 19.5694 2.81892 19.3433L3.05621 16.0078H4.90851L3.20305 29.1284H2.12142L2.67586 21.347C2.69269 21.1104 2.51465 20.905 2.27811 20.8882C2.04207 20.871 1.83615 21.0494 1.81927 21.2859L1.25143 29.2552C1.23746 29.4433 1.30312 29.6305 1.43159 29.7689C1.56034 29.9076 1.74278 29.9871 1.93204 29.9871H3.35808C3.70053 29.9871 3.99146 29.7311 4.03457 29.3927L5.77438 16.0078H16.3991L16.8574 19.5338H13.6117C12.8671 19.5338 12.2613 20.1396 12.2613 20.8842V21.8225C12.2613 22.5675 12.8671 23.1735 13.6117 23.1735H14.1119L13.215 28.374C13.1521 28.7377 13.235 29.1042 13.4483 29.4056C13.661 29.7062 13.9776 29.9054 14.3397 29.9668C14.4205 29.9804 14.4971 29.9871 14.5741 29.9871C15.246 29.9871 15.8166 29.5056 15.9308 28.8424L16.9084 23.1735H17.3306L18.1389 29.3916C18.1821 29.7311 18.4731 29.9871 18.8155 29.9871H20.2416C20.4302 29.9871 20.6122 29.908 20.7408 29.77C20.8694 29.632 20.9356 29.4449 20.9223 29.2564L20.4887 23.1735H24.6629L25.641 28.8422C25.7553 29.5056 26.3256 29.9871 26.9973 29.9871C27.0742 29.9871 27.1509 29.9804 27.2315 29.9668C27.594 29.9054 27.9108 29.7061 28.1236 29.4054C28.337 29.104 28.4199 28.7377 28.357 28.3741L27.4601 23.1734H27.9597C28.7046 23.1734 29.3107 22.5674 29.3107 21.8224V20.8842C29.3107 20.3427 28.9901 19.8749 28.5287 19.6598ZM25.0223 15.7927C24.7122 15.7927 24.4599 15.5404 24.4599 15.2303V8.30387C24.4599 7.99376 24.7122 7.74147 25.0223 7.74147H25.7723V15.7927H25.0223ZM14.7902 10.5442C14.7902 9.66046 15.5092 8.94143 16.393 8.94143C17.2768 8.94143 17.9958 9.66046 17.9958 10.5442C17.9958 11.428 17.2768 12.1471 16.393 12.1471C15.5092 12.1471 14.7902 11.428 14.7902 10.5442ZM8.80357 1.86553L13.1712 6.31469H4.43593L8.80357 1.86553ZM5.24158 7.1734H12.3654V12.147H10.9566V10.9638C10.9566 9.77661 9.99077 8.81074 8.80357 8.81074C7.61666 8.81074 6.65101 9.77661 6.65101 10.9638V12.147H5.24158V7.1734ZM7.50972 12.1471V10.9638C7.50972 10.2501 8.09015 9.66945 8.80357 9.66945C9.51727 9.66945 10.0979 10.2501 10.0979 10.9638V12.147H7.50972V12.1471ZM0.858712 13.0058H21.3149V15.1491H0.858712V13.0058ZM15.0846 28.6967C15.0415 28.9468 14.8268 29.1284 14.5741 29.1284C14.5458 29.1284 14.5161 29.1257 14.4831 29.1201C14.2046 29.073 14.0117 28.8061 14.0612 28.5201L14.9832 23.1735H16.0371L15.0846 28.6967ZM13.6117 22.3148C13.3406 22.3148 13.12 22.094 13.12 21.8225V20.8842C13.12 20.6131 13.3406 20.3925 13.6117 20.3925H16.9692L17.2191 22.3148H13.6117ZM18.9706 29.1284L17.2651 16.0078H19.1169L20.0522 29.1284H18.9706ZM27.5108 28.5203C27.5597 28.8032 27.3703 29.0724 27.0881 29.1202C27.0553 29.1257 27.0256 29.1285 26.9973 29.1285C26.7449 29.1285 26.5304 28.9469 26.4873 28.6966L25.5344 23.1736H26.5888L27.5108 28.5203ZM28.452 21.8225C28.452 22.094 28.2312 22.3148 27.9597 22.3148H20.4275L20.2904 20.3925H27.9597C28.2311 20.3925 28.452 20.6131 28.452 20.8842V21.8225Z" fill="#C5903A"/>
						</svg>
					.adv-sngl__text.text Дитячий садок з авторськими розвиваючими програмами.
				.adv-sngl
					<svg class="adv-sngl__icon" width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M27.6509 7.32424C24.8123 4.48564 21.0381 2.92236 17.0238 2.92236C13.0095 2.92236 9.23536 4.48564 6.39675 7.32424C3.55815 10.1629 1.99487 13.9369 1.99487 17.9513C1.99487 21.9657 3.55815 25.7397 6.39675 28.5784C9.23536 31.417 13.0095 32.9802 17.0238 32.9802C21.0381 32.9802 24.8123 31.417 27.6509 28.5784C30.4895 25.7397 32.0527 21.9657 32.0527 17.9513C32.0527 13.9369 30.4895 10.1629 27.6509 7.32424ZM17.0238 31.9827C9.28683 31.9827 2.99237 25.6883 2.99237 17.9513C2.99237 10.2143 9.28683 3.91986 17.0238 3.91986C24.7608 3.91986 31.0552 10.2143 31.0552 17.9513C31.0552 25.6883 24.7608 31.9827 17.0238 31.9827Z" fill="#C5903A"/>
					<path d="M29.0617 5.91339C25.8463 2.69807 21.5712 0.927246 17.0239 0.927246C12.4767 0.927246 8.20154 2.69807 4.98615 5.91339C1.77082 9.12885 0 13.4039 0 17.9512C0 22.4984 1.77082 26.7735 4.98615 29.9889C8.20154 33.2043 12.4767 34.9751 17.0239 34.9751C21.5712 34.9751 25.8463 33.2043 29.0617 29.9889C32.277 26.7735 34.0479 22.4984 34.0479 17.9512C34.0479 13.4039 32.277 9.12885 29.0617 5.91339ZM17.0239 33.9776C8.18691 33.9776 0.997496 26.7882 0.997496 17.9512C0.997496 9.11416 8.18691 1.92474 17.0239 1.92474C25.8609 1.92474 33.0504 9.11416 33.0504 17.9512C33.0504 26.7882 25.8609 33.9776 17.0239 33.9776Z" fill="#C5903A"/>
					<path d="M5.98486 17.9511C5.98486 24.038 10.937 28.99 17.0238 28.99C23.1107 28.99 28.0628 24.038 28.0628 17.9511C28.0628 11.8641 23.1107 6.91211 17.0238 6.91211C10.937 6.91211 5.98486 11.8641 5.98486 17.9511ZM17.0238 7.90961C22.5607 7.90961 27.0653 12.4142 27.0653 17.9511C27.0653 23.488 22.5607 27.9925 17.0238 27.9925C11.4869 27.9925 6.98236 23.488 6.98236 17.9511C6.98236 12.4142 11.4869 7.90961 17.0238 7.90961Z" fill="#C5903A"/>
					<path d="M17.0239 26.9951C22.0108 26.9951 26.0679 22.9381 26.0679 17.9512C26.0679 12.9643 22.0108 8.90723 17.0239 8.90723C12.0371 8.90723 7.97998 12.9643 7.97998 17.9512C7.97998 22.9381 12.0371 26.9951 17.0239 26.9951ZM17.0239 25.9977C12.5871 25.9977 8.97748 22.388 8.97748 17.9512C8.97748 16.2904 9.48334 14.7455 10.349 13.4625H23.699C24.5645 14.7455 25.0704 16.2904 25.0704 17.9512C25.0704 22.388 21.4608 25.9977 17.0239 25.9977ZM17.0239 9.90472C19.3424 9.90472 21.4345 10.8907 22.9042 12.465H11.1436C12.6133 10.8907 14.7055 9.90472 17.0239 9.90472Z" fill="#C5903A"/>
					<path d="M17.0238 19.4476C17.8488 19.4476 18.5201 18.7764 18.5201 17.9513C18.5201 17.1263 17.8488 16.4551 17.0238 16.4551C16.1988 16.4551 15.5276 17.1263 15.5276 17.9513C15.5276 18.7764 16.1988 19.4476 17.0238 19.4476ZM17.0238 17.4526C17.2989 17.4526 17.5226 17.6763 17.5226 17.9513C17.5226 18.2264 17.2989 18.4501 17.0238 18.4501C16.7488 18.4501 16.5251 18.2264 16.5251 17.9513C16.5251 17.6763 16.7488 17.4526 17.0238 17.4526Z" fill="#C5903A"/>
					<path d="M17.0239 21.4424C18.949 21.4424 20.5152 19.8763 20.5152 17.9512C20.5152 16.0261 18.949 14.46 17.0239 14.46C15.0989 14.46 13.5327 16.0261 13.5327 17.9512C13.5327 19.8763 15.0989 21.4424 17.0239 21.4424ZM17.0239 15.4575C18.399 15.4575 19.5177 16.5761 19.5177 17.9512C19.5177 19.3263 18.399 20.4449 17.0239 20.4449C15.6489 20.4449 14.5302 19.3263 14.5302 17.9512C14.5302 16.5761 15.6489 15.4575 17.0239 15.4575Z" fill="#C5903A"/>
					<path d="M21.2649 22.4399H12.7827C12.5072 22.4399 12.2839 22.6632 12.2839 22.9387C12.2839 23.2141 12.5072 23.4374 12.7827 23.4374H21.265C21.5405 23.4374 21.7637 23.2141 21.7637 22.9387C21.7637 22.6632 21.5404 22.4399 21.2649 22.4399Z" fill="#C5903A"/>
					<path d="M17.0239 4.91699C14.7979 4.91699 12.5995 5.48896 10.6665 6.57104C10.4261 6.70557 10.3404 7.00954 10.4749 7.24987C10.6094 7.4902 10.9136 7.57598 11.1537 7.44145C12.9383 6.4425 14.9681 5.91449 17.0239 5.91449C23.6609 5.91449 29.0604 11.314 29.0604 17.9509C29.0604 24.5879 23.6609 29.9874 17.0239 29.9874C10.387 29.9874 4.98749 24.5879 4.98749 17.9509C4.98749 14.2492 6.65463 10.807 9.56154 8.50685C9.77753 8.33594 9.8141 8.02226 9.6432 7.80627C9.47229 7.59021 9.15861 7.55371 8.94256 7.72461C5.79519 10.2151 3.98999 13.9425 3.98999 17.9509C3.98999 25.1379 9.83698 30.9849 17.0239 30.9849C24.2109 30.9849 30.0579 25.1379 30.0579 17.9509C30.0579 10.764 24.2109 4.91699 17.0239 4.91699Z" fill="#C5903A"/>
					</svg>

					.adv-sngl__text.text Цілодобова охорона, відеоспостереження за внутрішньою і прибудинковою територією.
		picture.philosophy-double-section__img
			img(src="./assets/images/index/advantages3.jpg")
	section.flats
		img.flats__img(data-src="./assets/images/index/flats-bg1.jpg")
		.flats__text.flats__text_right
			.title Квартири
			.text Квартири в «PODIL PLAZA & RESIDENCE–2» — це ідеальне простір для створення розкішного інтер’єру вашої мрії. Ретельно продумані планувальні рішення квартир відповідають найвищим вимогам до житла класу Преміум.
	section.flats
		img.flats__img(data-src="./assets/images/index/flats-bg2.jpg")
		.flats__text
			.subtitle Просторі кімнати з панорамними вікнами чудово підходять для прийому гостей. 
			.text Квартири в «PODIL PLAZA & RESIDENCE–2» — це ідеальне простір для створення розкішного інтер’єру вашої мрії. Ретельно продумані планувальні рішення квартир відповідають найвищим вимогам до житла класу Преміум.
	section.plans#plans
		.icon-with-label.js-plans-prev.plans__prev
			.icon-with-label__icon
				+svg('birdy')
			.icon-with-label__text Попереднє планування
		.icon-with-label.js-plans-next.plans__next
			.icon-with-label__icon
				+svg('birdy')
			.icon-with-label__text Наступне планування
		.js-plans.plans__slider
			.plan-card
				.plan-card__title Тип 1А
				.plan-card__subtitle 2-7 поверхи
				img(data-src="./assets/images/index/plans/test.png").plan-card__img 
				.plan-card__text 
					span.plan-card__text-title Загальна площа: 
					span.plan-card__text-value 48,05 м<sup>2</sup>
				.plan-card__text 
					span.plan-card__text-title Житлова площа: 
					span.plan-card__text-value  19,25 м<sup>2</sup>
				.button-std PDF
			.plan-card
				.plan-card__title Тип 1А
				.plan-card__subtitle 2-7 поверхи
				img(data-src="./assets/images/index/plans/test.png").plan-card__img 
				.plan-card__text 
					span.plan-card__text-title Загальна площа: 
					span.plan-card__text-value 48,05 м<sup>2</sup>
				.plan-card__text 
					span.plan-card__text-title Житлова площа: 
					span.plan-card__text-value  19,25 м<sup>2</sup>
				.button-std PDF
			.plan-card
				.plan-card__title Тип 1А
				.plan-card__subtitle 2-7 поверхи
				img(src="./assets/images/index/plans/test.png").plan-card__img 
				.plan-card__text 
					span.plan-card__text-title Загальна площа: 
					span.plan-card__text-value 48,05 м<sup>2</sup>
				.plan-card__text 
					span.plan-card__text-title Житлова площа: 
					span.plan-card__text-value  19,25 м<sup>2</sup>
				.button-std PDF
			.plan-card
				.plan-card__title Тип 1А
				.plan-card__subtitle 2-7 поверхи
				img(src="./assets/images/index/plans/test.png").plan-card__img 
				.plan-card__text 
					span.plan-card__text-title Загальна площа: 
					span.plan-card__text-value 48,05 м<sup>2</sup>
				.plan-card__text 
					span.plan-card__text-title Житлова площа: 
					span.plan-card__text-value  19,25 м<sup>2</sup>
				.button-std PDF
			.plan-card
				.plan-card__title Тип 1А
				.plan-card__subtitle 2-7 поверхи
				img(src="./assets/images/index/plans/test.png").plan-card__img 
				.plan-card__text 
					span.plan-card__text-title Загальна площа: 
					span.plan-card__text-value 48,05 м<sup>2</sup>
				.plan-card__text 
					span.plan-card__text-title Житлова площа: 
					span.plan-card__text-value  19,25 м<sup>2</sup>
				.button-std PDF
			.plan-card
				.plan-card__title Тип 1А
				.plan-card__subtitle 2-7 поверхи
				img(src="./assets/images/index/plans/test.png").plan-card__img 
				.plan-card__text 
					span.plan-card__text-title Загальна площа: 
					span.plan-card__text-value 48,05 м<sup>2</sup>
				.plan-card__text 
					span.plan-card__text-title Житлова площа: 
					span.plan-card__text-value  19,25 м<sup>2</sup>
				.button-std PDF
			.plan-card
				.plan-card__title Тип 1А
				.plan-card__subtitle 2-7 поверхи
				img(src="./assets/images/index/plans/test.png").plan-card__img 
				.plan-card__text 
					span.plan-card__text-title Загальна площа: 
					span.plan-card__text-value 48,05 м<sup>2</sup>
				.plan-card__text 
					span.plan-card__text-title Загальна площа: 
					span.plan-card__text-value 48,05 м<sup>2</sup>
				.plan-card__text 
					span.plan-card__text-title Загальна площа: 
					span.plan-card__text-value 48,05 м<sup>2</sup>
				.plan-card__text 
					span.plan-card__text-title Житлова площа: 
					span.plan-card__text-value  19,25 м<sup>2</sup>
				.button-std PDF
	section.developer#developer
		.title Забудовник
		.subtitle STATUS GROUP — стабільна і перспективна компанія, яка працює з 2005 року і представляє нове покоління в будівельному бізнесі, де стиль роботи базується на інноваційних рішеннях, величезному практичному досвіді і прагненні до досконалості.
		.golden-circle
			img(data-src="./assets/images/index/developer-golden-circle.png").golden-circle__img
			a(target='_blank' href="https://statusbud.com")
				+svg('developer-logo').golden-circle__text
			//-  <span class="text">Назва комплексу — </span><span class="text gold">не просто гарне поєднання слів.</span>
		.text Компанія STATUS GROUP здійснює функції забудовника, замовника, інвестора, генерального підрядника і девелопера. 
		.text Усі наші проекти – це новий формат житлової нерухомості з унікальною архітектурою, безпечною та упорядкованою територією і власною соціальною інфраструктурою, в яких враховані всі потреби покупців.
	section.developer-second
		+img('index/developer-second-decor.png').developer-second__decor
		+img('index/developer-second-bg.jpg').developer-second__bg
		.developer-second__gradient
		.developer-second__title Будівництво ведеться
		.subtitle із застосуванням передових технологій і використанням високоякісних матеріалів.
	section.objects
		+img('index/objects-bg.png').objects__bg
		.title Об’єкти які знаходяться на стадії на будівництва: 
		.objects__table
			a.objects__table-item(target="_blank" href="https://podil-plaza.com.ua/ua/")
				+img('index/objects/podil-plaza.png')
				.objects__table-item-text-wrap
					.objects__table-item-title ЖК «PODIL PLAZA&RESIDENCE»
					.objects__table-item-point
						+svg('metro').objects__table-item-point-icon
						.objects__table-item-point-text Контрактова площа
					.objects__table-item-point
						+svg('marker').objects__table-item-point-icon
						.objects__table-item-point-text вул. Глибочицька 73
			a.objects__table-item(target="_blank" href="https://sky-river.com.ua/uk/glavnaja/golovna/")
				+img('index/objects/sky-river.png')
				.objects__table-item-text-wrap
					.objects__table-item-title ЖК «SKY RIVER»
					.objects__table-item-point
						+svg('metro').objects__table-item-point-icon
						.objects__table-item-point-text м. Славутич
					.objects__table-item-point
						+svg('marker').objects__table-item-point-icon
						.objects__table-item-point-text вул. Приозерна 15
			a.objects__table-item(target="_blank" href="https://olympicpark.com.ua/")
				+img('index/objects/olympic-park.png')
				.objects__table-item-text-wrap
					.objects__table-item-title ЖК «OLYMPIC PARK»
					.objects__table-item-point
						+svg('metro').objects__table-item-point-icon
						.objects__table-item-point-text м. Бориспільська
					.objects__table-item-point
						+svg('marker').objects__table-item-point-icon
						.objects__table-item-point-text пр-т Бажана 17
			a.objects__table-item(target="_blank" href="https://zhk-riviera.com.ua/")
				+img('index/objects/riviera.png')
				.objects__table-item-text-wrap
					.objects__table-item-title ЖК «РІВ’ЄРА»19
					.objects__table-item-point
						+svg('metro').objects__table-item-point-icon
						.objects__table-item-point-text м. Славутич
					.objects__table-item-point
						+svg('marker').objects__table-item-point-icon
						.objects__table-item-point-text вул. Центральна 19
	section.contacts#contacts
		.title Контакти
		.contacts__left
			.contacts__subtitle Розташування
			a(target='_blank' href="https://maps.google.com/?q="+complexAdress).icon-with-label.text-l
				.icon-with-label__icon
					<svg width="10" height="13" viewBox="0 0 10 13" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M5 4.24615C4.21429 4.24615 3.57143 4.89093 3.57143 5.67899C3.57143 6.46705 4.21429 7.11182 5 7.11182C5.37888 7.11182 5.74224 6.96086 6.01015 6.69216C6.27806 6.42345 6.42857 6.059 6.42857 5.67899C6.42857 5.29898 6.27806 4.93453 6.01015 4.66582C5.74224 4.39711 5.37888 4.24615 5 4.24615ZM5 0.664062C7.33571 0.664062 10 2.42645 10 5.78645C10 7.92138 8.47857 10.1709 5.43571 12.5136C5.17857 12.7142 4.82143 12.7142 4.56429 12.5136C1.52143 10.1638 0 7.92138 0 5.78645C0 2.42645 2.66429 0.664062 5 0.664062Z" fill="#E8E6DF"/>
					</svg>
				.icon-with-label__text #{complexAdress}
			a.button-std(href="#") Показати на Google Maps
			.contacts__remark * Перегляд об’єкту (для покупців) триває щоденно за попередньою згодою з відділом продажів
			.contacts__subtitle Відділ продажів
			a(href="tel:"+complexTel).icon-with-label.text-l
				.icon-with-label__icon
					<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M6.23507 8.83959C7.15452 9.72856 8.26704 10.4149 9.49447 10.8504L11.155 9.59102C11.2042 9.55871 11.2626 9.54141 11.3224 9.54141C11.3822 9.54141 11.4405 9.55871 11.4898 9.59102L14.573 11.4843C14.69 11.5514 14.7891 11.6434 14.8624 11.7533C14.9357 11.8631 14.9812 11.9877 14.9953 12.1172C15.0094 12.2466 14.9917 12.3775 14.9436 12.4993C14.8956 12.6212 14.8184 12.7307 14.7183 12.8192L13.2736 14.1793C13.0667 14.3742 12.8124 14.5172 12.5335 14.5955C12.2545 14.6739 11.9595 14.6853 11.6748 14.6285C8.83476 14.0695 6.21707 12.7602 4.12085 10.8504C2.07116 8.92156 0.652789 6.46728 0.0377852 3.7853C-0.0229692 3.51816 -0.0102889 3.24059 0.0745972 2.97949C0.159483 2.7184 0.313697 2.48263 0.522292 2.29503L2.01986 0.918116C2.11253 0.827351 2.22555 0.757745 2.35044 0.714507C2.47534 0.67127 2.60888 0.655522 2.74107 0.668444C2.87326 0.681366 3.00067 0.722621 3.11376 0.789122C3.22685 0.855623 3.32268 0.945646 3.3941 1.05245L5.44664 3.95321C5.48204 3.99876 5.50115 4.05395 5.50115 4.11063C5.50115 4.16732 5.48204 4.22251 5.44664 4.26806L4.09443 5.81709C4.56377 6.96352 5.295 7.99599 6.23507 8.83959Z" fill="#E8E6DF"/>
					</svg>	
				.icon-with-label__text #{complexTel}
			a(href="mailto:"+email).icon-with-label.text-l
				.icon-with-label__icon
					+svg('letter-box')
				.icon-with-label__text #{email}
			.icon-with-label
				.icon-with-label__icon
					<svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M6 0.664062C2.68 0.664062 0 3.34406 0 6.66406C0 9.98406 2.68 12.6641 6 12.6641C9.32 12.6641 12 9.98406 12 6.66406C12 3.34406 9.32 0.664062 6 0.664062ZM8.28 8.98406C8.2 9.06406 8.09333 9.10406 8 9.10406C7.90667 9.10406 7.8 9.06406 7.72 8.98406L5.56 6.82406V3.30406C5.56 3.0774 5.73333 2.90406 5.96 2.90406C6.18667 2.90406 6.36 3.0774 6.36 3.30406V6.49073L8.28 8.41073C8.44 8.58406 8.44 8.8374 8.28 8.98406Z" fill="#E8E6DF"/>
						</svg>
				.icon-with-label__text пн-пт: 09:00-19:00 сб-вс: 10:00-17:00
			.contacts__remark * Працюємо без вихідних та перерв на обід
		.contacts__right
			.contacts__subtitle  Залишилися запитання?
			form.common-form(data-name="contact-form")
				.input-group
					.input-group__icon
					input(autocomplete="off" data-error_mes="Введите имя" name="name" data-required="true" type="text" data-pattern="" placeholder="Имя:*")
				.input-group
					.input-group__icon
					input(autocomplete="off" data-error_mes="Введите номер телефона" name="tel" inputmode="tel" data-required="true" type="text" data-pattern="" placeholder="Телефон:*")
				.input-group
					.input-group__icon
					textarea(name='message' type="text" placeholder="Повідомлення")
				button.button-std.submit-js(type="submit" value="Надіслати") Надіслати
	.invisible-block
		include ../includes/common-form.pug


block footer
block header



