// @include font-face("Forum", "../fonts/Forum/Forum-Regular", 400);
// @include font-face("Gilroy", "../fonts/gilroy/Gilroy-Light", 400);
// @include font-face("Cormorant", "../fonts/cormorant/Cormorant-Regular", 400);
@font-face {
    font-family: 'Prata';
    src: url('../fonts/Prata-Regular.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
    // font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}