include ../includes/mixins.pug
block variable

- 

	var complexTel = '044-338-27-27';
	var complexAdress = ' Київ, вул.Глибочицька 73';
doctype html
html(lang="uk")
	head
		meta(charset='utf-8')
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
		//- Edge и ряд мобильных браузеров слишком умны. Отключим это.
		meta(name='format-detection', content='telephone=no')
		meta(name='format-detection', content='date=no')
		meta(name='format-detection', content='address=no')
		meta(name='format-detection', content='email=no')
		meta(content='notranslate', name='google')
		// Google Tag Manager
		// End Google Tag Manager
		
		block meta
		block head
			

	body
		// Google Tag Manager (noscript)

		// End Google Tag Manager (noscript)
		// Facebook Pixel Code 

		// End Facebook Pixel Code 
		// START SVG SPRITE
		
		include ../../assets/svg-sprite/sprite/symbol_sprite.php
		// END SVG SPRITE
		// START LOADER
		include ../includes/preloader.pug
		// END LOADER
		// START HEADER
		block header
		include ../includes/header.pug
		include ../includes/menu.pug
		// END HEADER
		.page__inner(id=pageName)
			.page__content
				block content

			.page__footer-wrapper
				// START FOOTER
				block footer
				include ../includes/footer.pug
				// END FOOTER
			
		block scripts
		script(defer src="./assets/scripts/forms-handler.js")