.smarto-logo {
    white-space: nowrap;
    display: flex;
    padding-top: 54px;
    padding-bottom: 42px;
    &>img {
        width: 70px;
        margin-left: 10px;
        height: 28px;
    }
    @include to(768px) {
        padding-top: 20px;
        padding-bottom: 20px;
        margin: 0 auto;
    }
}

.footer {
    padding: 0 var(--side-fields) var(--side-fields) var(--side-fields);
    background: #f4f3ec;
    display: flex;
    justify-content: space-between;
    color: var(--blue);
    font-size: 14px;
    a {
        color: var(--blue);
    }
}