    * {
        --menu-width: calc((100% / 12 * 3) - 20px);
        --menu-mob-button-width: 90px;
        --blue: #133C58;
        --ffffff: #ffffff;
        --side-fields: 100px;
        --side-padding: 100px;
        --gold: #EBC78C;
        --brown: #5A5356;
        --blue-light: #758BA2;
        --gray: #DDD9D3;
        --orange: #EB8271;
        --black: #221F20;
        --very-gray: #99918A;
        --header-height: 100px;
        /* ывсчс */
        --other-gray: #F2F2F2;
        @include from(1360px) {
            --menu-width: 300px;
        }
        @include to(1200px) {
            --side-fields: 50px;
            --side-padding: 50px;
        }
        @include from-to(768px, 950px) {
            --side-fields: 30px;
            --side-padding: 30px;
        }
        @include to(768px) {
            --side-fields: 22px;
            --side-padding: 20px;
            --menu-width: 50%;
        }
        @include to(575px) {
            --side-fields: 14px;
            --side-padding: 14px;
            --header-height: 52px;
            --menu-width: calc(100% - var(--menu-mob-button-width));
        }
    }
    
    .page__inner {
        width: calc(100% - var(--menu-width));
        margin-left: auto;
        @include to(768px) {
            width: 100%;
        }
    }
    
    .main-screen {
        position: relative;
        min-height: 100vh;
        padding-bottom: 45px;
        color: var(--white);
        display: flex;
        align-content: flex-start;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding-top: 55px;
        --ms-side-padding: 45px;
        padding-left: var(--ms-side-padding);
        padding-right: var(--ms-side-padding);
        .main-screen__bg {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            z-index: 0;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: bottom;
            }
        }
        &>*:not(.main-screen__bg) {
            position: relative;
            z-index: 1;
        }
        &__title-wrap {
            @include size(6);
            @include shift(0);
            margin-bottom: auto;
        }
        &__title {
            max-width: 25ch;
            font-size: 36px;
            padding-right: 20px;
            line-height: 1.3em;
            font-family: $default-font2;
            color: var(--ffffff);
        }
        &__but {
            width: 250px;
            height: 50px;
            margin-top: 25px;
            background-color: var(--gold);
            border-radius: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: $default-font2;
            color: var(--blue);
            cursor: pointer;
        }
        &__icons-row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin-bottom: 100px;
        }
        &__section-info-wrap {
            margin-left: auto;
            margin-right: calc( var(--ms-side-padding) * -1);
            display: flex;
            @include size(6);
            @include shift(0);
            margin-left: 0;
            flex-wrap: wrap;
            padding-top: 25px;
        }
        .section-info {
            margin-bottom: 28px;
        }
        &__section-info-wrap {
            margin-top: auto;
            margin-bottom: auto;
        }
        .icon-with-label {
            color: var(--ffffff);
        }
        .scroll-ms {
            animation-name: scroll;
            animation-duration: 1.5s;
            animation-timing-function: cubic-bezier(0.650, -0.550, 0.250, 1.500);
            animation-iteration-count: infinite;
            transform-origin: 50% 20.5px;
            will-change: transform, opacity;
            opacity: 1;
        }
        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 19, 32, 0.8);
            z-index: 0;
        }
        @include from(951px) {
            &__scroll-alert {
                position: absolute !important;
                max-width: 120px;
                color: var(--ffffff);
                left: var(--ms-side-padding);
                bottom: var(--ms-side-padding);
                display: flex;
                justify-content: space-between;
                svg {
                    width: 26px;
                    height: 44px;
                }
                &-text {
                    margin-left: 20px;
                }
            }
        }
        @include from(1240px) {
            .icon-with-label:nth-child(1) {
                @include size(6);
                @include shift(0);
            }
            .icon-with-label:nth-child(n+2) {
                @include size(3);
                @include shift(0);
            }
        }
        @include from(1680px) {
            // min-height: 150vh;
            &__title {
                font-size: 48px;
                max-width: 18ch;
            }
            .icon-with-label__text {
                font-size: 14px;
            }
        }
        @include from(576px) {
            &__section-info-wrap>* {
                width: 50%;
            }
            .section-info:nth-child(odd) .section-info__top {
                border-radius: 0 25px 25px 0;
            }
            .section-info:nth-child(odd) {
                // margin-left: calc(var(--ms-side-padding) * -1);
                // padding-right: calc(50% - 25ch);
            }
            .section-info:nth-child(even) {
                // margin-right: calc(var(--ms-side-padding) * -1);
                margin-left: auto;
                // padding-left: calc(50% - 25ch);
            }
        }
        @include to(1240px) {
            --ms-side-padding: 30px;
            &__section-info-wrap {
                width: 100%;
            }
        }
        @include to(1150px) {
            &__scroll-alert {
                position: static !important;
                margin-top: 35px;
            }
        }
        @include to(950px) {
            &__scroll-alert {
                display: none;
            }
        }
        @include to(575px) {
            padding-left: var(--side-fields);
            padding-right: var(--side-fields);
            padding-bottom: 20px;
            align-content: flex-start;
            padding-top: 0;
            &__title {
                font-size: 18px;
                max-width: 80%;
            }
            &__slider {
                width: 100%;
            }
            &__but {
                width: 180px;
                height: 36px;
            }
            &__section-info-wrap {
                width: calc(100% + (var(--side-fields) * 2));
                margin: 0;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                margin-left: calc(var(--side-fields) * -1);
                margin-right: calc(var(--side-fields) * -1);
            }
            .section-info {
                margin-bottom: 18px;
                width: calc(50% - 5px);
            }
            .section-info__top {
                padding-left: 20px;
                padding-right: 20px;
            }
            .section-info:nth-child(odd) .section-info__top {
                border-radius: 0 25px 25px 0;
            }
            &__title-wrap {
                margin-bottom: 40px;
                width: 100%;
            }
            &__icons-row {
                order: 0;
                // flex-direction: column;
                justify-content: flex-end;
                margin-bottom: 0;
                align-self: flex-end;
                z-index: 2 !important;
                margin-bottom: 20px;
            }
            &__icons-row>* {
                margin-right: 0;
                margin-top: 10px;
            }
            .icon-with-label {
                position: relative;
            }
            .icon-with-label__text {
                position: absolute;
                right: 0;
                opacity: 0;
                z-index: 10;
                pointer-events: none;
                top: calc(100% + 6px);
                background-color: #ffffff;
                color: var(--blue);
                transition: .3s ease-out;
                padding: 10px 15px;
                border-radius: 25px 0px 25px 25px;
                font-size: 10px;
                width: 150px;
                // display: none;
            }
            .icon-with-label__text:after {
                content: '';
                display: inline-block;
                position: absolute;
                right: 0;
                top: 0;
                transform: translateY(-100%);
                background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 0L0 6H6V0Z' fill='white'/%3E%3C/svg%3E%0A");
                background-repeat: no-repeat;
                width: 6px;
                height: 6px;
            }
            .icon-with-label:hover .icon-with-label__text {
                opacity: 1;
                pointer-events: all;
            }
            .icon-with-label__icon {
                width: 30px;
                height: 30px;
                margin-right: 0;
                margin-left: 20px;
            }
        }
    }
    
    .section-info {
        &__top {
            border-radius: 25px 0px 0px 25px;
            // background-color: var(--ffffff);
            font-size: 10px;
            line-height: 1.2em;
            height: 40px;
            padding-left: 35px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding-right: 72px;
            span:first-child {
                color: var(--ffffff);
                line-height: 1.6em;
                font-weight: bold;
                text-transform: uppercase;
            }
            span:nth-child(2) {
                margin-left: 10px;
                margin-right: 10px;
                color: var(--ffffff);
            }
            span:nth-child(3) {
                color: var(--ffffff);
            }
        }
        &__price {
            font-size: 32px;
            margin-top: 0.5em;
            line-height: 1em;
            font-family: $default-font2;
            span:first-child {
                color: #ffffff;
                margin-right: 20px;
            }
            span:not(:first-child) {
                color: #EBC78C;
            }
        }
        @include to(575px) {
            &__price {
                font-size: 24px;
                padding: 0 10px;
            }
            &__top {
                padding-right: 45px;
            }
        }
    }
    
    .icon-with-label {
        display: flex;
        align-items: center;
        color: var(--blue);
        text-decoration: none;
        &__icon {
            background-color: var(--gold);
            border-radius: 50%;
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 20px;
        }
        &__text {
            width: 15ch;
        }
    }
    
    .icon--metro {
        width: 16px;
        height: 9px;
    }
    
    .icon--marker {
        width: 10px;
        height: 12px;
    }
    
    .icon--clock {
        width: 12px;
        height: 12px;
    }
    
    .about-block {
        padding-top: 100px;
        padding-bottom: 0px;
        padding-left: var(--side-fields);
        padding-right: var(--side-fields);
        display: flex;
        flex-wrap: wrap;
        &__left-column {
            width: 50%;
        }
        &__right-column {
            text-align: center;
            width: 35%;
            margin-left: auto;
            .subtitle {
                padding-left: 10%;
                padding-right: 10%;
            }
        }
        &__left-column .text {
            margin-top: 30px;
        }
        .title {
            margin-bottom: 40px;
        }
        &__golden-circle {
            position: relative;
            width: 100%;
            padding-bottom: 100%;
            margin-bottom: 47px;
        }
        &__golden-circle-img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }
        &__golden-circle-text {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            .gold {
                font-weight: bold;
            }
        }
        @include to(575px) {
            padding-top: 50px;
            padding-bottom: 30px;
            &__left-column {
                width: 100%;
            }
            &__right-column {
                width: 100%;
            }
            &__golden-circle {
                position: relative;
                width: 80%;
                padding-bottom: 80%;
                margin: 30px auto;
            }
        }
        @include from(1320px) {
            &__golden-circle {
                width: 320px;
                padding-bottom: 320px;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
    
    .panorama {
        padding-left: var(--side-fields);
        padding-right: var(--side-fields);
        padding-top: 100px;
        position: relative;
        &__text-content {
            height: 200px;
            position: relative;
            z-index: 1;
            .title {
                float: left;
                width: 30%;
                padding-bottom: calc(1.6em * 2);
            }
        }
        .button-std {
            margin-top: 30px;
            width: 50%;
            max-width: 400px;
        }
        .panorama-marker {
            cursor: pointer;
        }
        .panorama-marker path {
            pointer-events: none;
        }
        .panorama-map {
            z-index: 0;
            margin-top: calc((200px + 100px) * -1);
            margin-left: calc(var(--side-fields) * -1);
            margin-right: calc(var(--side-fields) * -1);
            margin-bottom: -10px;
        }
        @include from(1680px) {
            padding-top: 140px;
            .panorama-map {
                margin-top: calc((200px + 140px) * -1);
            }
            .subtitle {
                padding-right: 10%;
            }
        }
        @include to(950px) {
            padding-top: 50px;
            &__text-content {
                pointer-events: none;
                height: 300px;
                .subtitle {
                    max-width: 72%;
                }
                .title {
                    float: none;
                    width: 100%;
                    padding-bottom: 15px;
                }
                .button-std {
                    pointer-events: all;
                }
            }
            .panorama-map {
                margin-top: calc((300px + 50px) * -1);
            }
        }
        @include to(575px) {
            background-color: #f4f7fc;
            &__text-content {
                height: auto;
                .subtitle {
                    max-width: none;
                }
                .button-std {
                    width: 100%;
                }
            }
            .panorama-map {
                margin-top: 0;
            }
        }
    }
    
    .podil-about {
        position: relative;
        padding-left: var(--side-fields);
        padding-right: var(--side-fields);
        min-height: 150vh;
        &__decor {
            position: absolute;
            right: 0;
            top: var(--side-fields);
            width: 20%;
            z-index: 1;
        }
        .title {
            max-width: 80%;
            margin-bottom: 2em;
        }
        &__bg {
            margin-left: calc(var(--side-fields) * -1);
            margin-right: calc(var(--side-fields) * -1);
            width: calc(100% + (var(--side-fields) * 2));
            max-width: none;
            height: 150vh;
            position: relative;
            z-index: 0;
            object-fit: cover;
        }
        &__content {
            padding-top: calc(var(--side-fields) * 1.25);
            padding-bottom: var(--side-fields);
            position: relative;
            display: flex;
            flex-wrap: wrap;
            z-index: 1;
        }
        .subtitle {
            color: var(--blue);
        }
        &__column-left {
            width: 50%;
        }
        &__column-right {
            padding-top: 6em;
            margin-left: auto;
            margin-right: auto;
            width: 35%;
            .text {
                margin-bottom: 5em;
                color: var(--blue);
            }
        }
        @include from-to(576px,
        768px) {
            min-height: 100vh;
            &__content {
                padding-top: 40px;
            }
            .title {
                line-height: 1.25em;
            }
            &__bg {
                height: 100vh;
            }
        }
        @include to(575px) {
            &__content {
                padding-top: 30px;
                padding-bottom: 30px;
            }
            .title {
                max-width: none;
                margin-bottom: 1.25em;
            }
            &__column-left,
            &__column-right {
                width: 100%;
                margin-bottom: 20px;
            }
            &__column-right {
                padding-top: 0;
                .text {
                    margin-bottom: 20px;
                }
            }
        }
    }
    
    .panorama-help-popup {
        background-color: var(--ffffff);
        color: var(--blue);
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 15px;
        padding-right: 15px;
        max-width: 220px;
        min-width: 150px;
        height: 36px;
        transition: .3s ease-out;
        position: fixed;
        opacity: 0;
        @include fontSizeLhToEm(10,
        10);
        pointer-events: none;
        &:after {
            content: '';
            display: inline-block;
            width: 12px;
            height: 6px;
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50);
            background-image: url("data:image/svg+xml,%3Csvg width='12' height='6' viewBox='0 0 12 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0L6 6L12 0H0Z' fill='white'/%3E%3C/svg%3E%0A");
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
    
    .philosophy-double-section {
        display: flex;
        align-items: center;
        position: relative;
        min-height: 100vh;
        &__img,
        &__text {
            width: 50%;
            position: relative;
            z-index: 1;
        }
        &__img {
            height: 100vh;
        }
        &__img img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &__text {
            position: relative;
            @include shift-padding-left(0.5);
            @include shift-padding-right(0.5);
            justify-content: center;
            height: 100vh;
            align-items: center;
            display: flex;
            flex-direction: column;
        }
        &__text-decor {
            position: absolute;
            right: 20px;
            top: 20px;
            width: 35%;
        }
        .title {
            position: relative;
            img {
                right: 0;
                top: 50%;
                transform: translate(50%, -50%);
                width: 60%;
            }
        }
        .adv-sngl {
            margin-top: 30px;
            max-width: 80%;
        }
        @media screen and (max-height:700px) and (min-width:1025px) {
            .adv-sngl {
                margin-top: 10px;
                max-width: 80%;
            }
        }
        @include from-to(576px,
        768px) {
            flex-wrap: wrap;
            &__img,
            &__text {
                height: 50vh;
                width: 100%;
            }
            &__text {
                order: 1;
            }
            &__img {
                order: 2;
            }
            .adv-sngl {
                margin-top: 15px;
            }
        }
        @include to(950px) {
            &__text {
                @include shift-padding-left(0.5);
                @include shift-padding-right(0.4);
            }
        }
        @include to(575px) {
            flex-wrap: wrap;
            &__img,
            &__text {
                width: 100%;
            }
            &__img {
                order: 2;
            }
            &__text {
                order: 1;
                padding-top: 20px;
                padding-bottom: 20px;
            }
            .adv-sngl {
                margin-top: 15px;
                max-width: 100%;
            }
            &__text {
                height: auto;
                padding-top: 30px;
                padding-bottom: 30px;
            }
        }
    }
    
    .adv-sngl {
        &__text {
            margin-top: 10px;
        }
    }
    
    .flats {
        position: relative;
        height: 100vh;
        &__text {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #F4F3EC;
            padding-left: var(--side-fields);
            padding-right: var(--side-fields);
            padding-top: calc(var(--side-fields) * 0.5);
            padding-bottom: calc(var(--side-fields) * 0.7);
            &>*:not(:last-child) {
                margin-bottom: 30px;
            }
            &_right {
                left: auto;
                right: 0;
            }
        }
        &__img {
            height: 100%;
            object-fit: cover;
        }
        @include from(1680px) {
            &__text {
                font-size: 16px;
            }
            .subtitle {
                font-size: 24px;
            }
        }
        @include to(950px) {
            &__text {
                width: 65%;
                padding-top: calc(var(--side-fields) * 2);
                padding-bottom: calc(var(--side-fields) * 2);
                padding-left: calc(var(--side-fields) * 2);
                padding-right: calc(var(--side-fields) * 2);
            }
        }
        @include to(575px) {
            &__text {
                width: 100%;
                padding: 30px var(--side-fields);
                bottom: auto;
                top: 0;
            }
        }
    }
    
    .plans {
        padding: var(--side-fields);
        flex-wrap: wrap;
        display: flex;
        .plan-card {
            margin: 0 11px;
        }
        .icon--birdy {
            width: 7px;
            height: 12px;
        }
        .icon-with-label {
            font-family: $default-font2;
            cursor: pointer;
            width: 50%;
        }
        .icon-with-label__text {
            font-size: 18px;
            line-height: 1.3em;
            width: auto;
            letter-spacing: 0.06em;
            color: var(--blue);
        }
        .plans__slider {
            width: 100%;
            margin-top: 30px;
        }
        &__next {
            flex-direction: row-reverse;
            .icon-with-label__icon {
                margin-left: 20px;
                margin-right: 0;
                transform: rotate(180deg);
            }
        }
        .slick-list {
            overflow: visible;
        }
        &__prev {}
        @include to(768px) {
            padding-top: 50px;
            padding-bottom: 50px;
        }
        @include to(575px) {
            position: relative;
            padding-top: 30px;
            padding-bottom: 30px;
            padding-left: 30px;
            padding-right: 30px;
            .icon-with-label {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                z-index: 10;
                .icon-with-label__icon {
                    border-radius: 0 50% 50% 0;
                }
            }
            &__next {
                right: 0;
            }
            &__prev {
                left: 0;
            }
            .icon-with-label__text {
                display: none;
            }
            .slick-list {
                overflow: hidden;
            }
        }
    }
    
    #icon-birdy {
        fill: transparent;
    }
    
    #icon-developer-logo {
        // fill: red;
    }
    
    .developer svg {
        fill: red;
    }
    
    .plan-card {
        --self-padding: 30px;
        padding: var(--self-padding);
        border: 1px solid #E8E6DF;
        border-radius: 25px;
        text-align: center;
        flex-direction: column;
        align-content: center;
        &.slick-slide {
            display: flex;
        }
        &__title {
            font-family: $default-font2;
            font-size: 28px;
            line-height: 1em;
            color: var(--blue);
            margin-bottom: 10px;
        }
        &__img {
            max-height: 210px;
            margin-top: 30px;
            margin-bottom: 30px;
            object-fit: contain;
            margin-bottom: auto;
            margin-top: auto;
            padding: 15px 0;
        }
        &__subtitle {
            font-family: $default-font2;
            color: var(--blue-light);
            font-size: 18px;
            line-height: 1em;
            /* identical to box height, or 100% */
            text-align: center;
        }
        &__text-title {
            color: var(--blue);
            font-weight: 600;
        }
        &__text-value {}
        .button-std {
            margin-top: 20px;
            width: 150px;
            margin-left: auto;
            margin-right: auto;
        }
        @include to(575px) {
            --self-padding: 10px;
            padding: 30px var(--self-padding);
        }
    }
    
    .developer {
        padding: var(--side-fields);
        background-color: #F4F3EC;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        .subtitle,
        .text {
            width: 50%;
        }
        .golden-circle {
            width: 35%;
            padding-bottom: 35%;
            margin-left: auto;
            svg {
                width: 65%;
            }
        }
        .text {
            align-self: flex-start;
            padding-right: 15%;
        }
        @include from(951px) {
            .title {
                margin-bottom: 30px;
            }
            .golden-circle {
                order: 1;
                margin-left: 0;
                margin-right: auto;
            }
            .text {
                order: 3;
            }
            .subtitle {
                align-self: flex-start;
                order: 2;
            }
        }
        @include from(1360px) {
            .golden-circle {
                width: Min(35%, 320px);
                padding-bottom: Min(35%, 320px);
            }
        }
        @include to(950px) {
            .title {
                margin-bottom: 1.6em;
            }
            .text {
                margin-top: 1.6em;
            }
        }
        @include to(575px) {
            padding: 30px var(--side-fields);
            .subtitle,
            .text {
                width: 100%;
            }
            .golden-circle {
                width: 75%;
                padding-bottom: 75%;
                margin-top: 30px;
                margin-bottom: 30px;
                margin-right: auto;
                svg {
                    width: 65%;
                }
            }
        }
    }
    
    .developer-second {
        position: relative;
        min-height: 75vh;
        padding: 0 var(--side-fields);
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        &__title {
            font-weight: 500;
            font-size: 30px;
            line-height: 1.2em;
            text-align: right;
            color: var(--blue);
        }
        &__bg {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: 0;
        }
        &__gradient {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: 1;
            background: linear-gradient(180deg, rgba(244, 243, 236, 1) 0%, rgba(244, 243, 236, 0) 50%);
        }
        &__decor {
            margin-bottom: 60px;
        }
        &__decor,
        &__title,
        .subtitle {
            position: relative;
            z-index: 2;
        }
        &__title {
            width: 50%;
            padding-left: 10%;
            padding-right: 80px;
        }
        .subtitle {
            width: 50%;
            padding-right: 25%;
            padding-left: 0;
        }
        @include from(1680px) {
            .subtitle {
                padding-right: 15%;
            }
        }
        @include to(950px) {
            &__title {
                width: 50%;
                padding-left: 0;
                padding-right: 40px;
            }
            .subtitle {
                padding-right: 5%;
            }
        }
        @include to(575px) {
            &__title,
            .subtitle {
                text-align: left;
                width: 100%;
            }
            &__title {
                margin-bottom: 30px;
            }
            &__decor {
                margin-bottom: 30px;
            }
        }
    }
    
    .golden-circle {
        position: relative;
        width: 100%;
        padding-bottom: 100%;
        margin-bottom: 47px;
        &__img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }
        &__text {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
    
    .objects {
        position: relative;
        padding: var(--side-fields);
        width: 100%;
        &__bg {
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            width: 50%;
            object-fit: cover;
            z-index: 0;
        }
        &>*:not(.objects__bg) {
            position: relative;
            z-index: 1;
        }
        .title {
            padding-right: 50%;
        }
        &__table {
            margin-top: 50px;
            display: flex;
            flex-wrap: wrap;
            border: 1px solid #E8E6DF;
            box-sizing: border-box;
            border-radius: 25px;
            overflow: hidden;
        }
        &__table-item {
            width: 50%;
            display: flex;
            flex-wrap: wrap;
            padding: 40px;
            color: var(--blue);
            transition: background-color .3s ease-out;
            text-decoration: none;
            background-color: var(--ffffff);
        }
        &__table-item-title {
            font-weight: 600;
            font-size: 14px;
            line-height: 1.29em;
            margin-bottom: 25px;
        }
        &__table-item-text-wrap {
            width: 50%;
            margin-left: auto;
            margin: 15px auto;
        }
        &__table-item img {
            width: calc(50% - 60px);
            object-fit: contain;
            max-height: 110px;
        }
        &__table-item-point {
            display: flex;
            align-items: center;
            margin-bottom: 15px;
            &-text {
                margin-left: 7px;
            }
            &-icon {
                width: 30px;
            }
        }
        @include from(1680px) {
            &__table-item-title {
                font-size: 18px;
            }
        }
        @include to(1100px) {
            &__table-item {
                padding: 20px;
            }
            &__table-item-text-wrap {
                width: 65%;
            }
            .title {
                padding-right: 30%;
            }
        }
        @include to(950px) {
            padding: calc(var(--side-fields) * 3) var(--side-fields);
            &__table-item {
                flex-wrap: wrap-reverse;
                padding: 25px 20px;
            }
            &__table-item img {
                width: 70%;
                object-fit: contain;
                margin: auto;
            }
            &__table-item-text-wrap {
                width: 100%;
                text-align: left;
            }
        }
        @include from(769px) {
            &__table-item:nth-child(even) {
                border-left: 1px solid #E8E6DF;
            }
            &__table-item:nth-last-child(n+3) {
                border-bottom: 1px solid #E8E6DF;
            }
            &__table-item:hover {
                background-color: var(--gold);
            }
        }
        @include to(575px) {
            padding: 30px var(--side-fields);
            &__table-item {
                width: 100%;
            }
            &__table-item:not(:last-child) {
                border-bottom: 1px solid #E8E6DF;
            }
        }
    }
    
    .contacts {
        padding: var(--side-fields);
        background-color: #F4F3EC;
        display: flex;
        flex-wrap: wrap;
        &__left {
            width: 40%;
        }
        &__right {
            width: 50%;
            margin-left: auto;
        }
        .title {
            margin-bottom: 40px;
        }
        &__subtitle {
            text-transform: uppercase;
            font-size: 12px;
            line-height: 1em;
            /* identical to box height, or 100% */
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: var(--blue-light);
        }
        &__remark {
            font-size: 10px;
            line-height: 1.2em;
            color: var(--blue-light);
            margin-top: 20px;
        }
        .icon-with-label {
            margin-top: 30px;
        }
        .icon-with-label__text {
            width: 20ch;
        }
        .icon-with-label.text-l {
            margin-top: 30px;
            padding-top: 3px;
            padding-bottom: 3px;
            font-size: 18px;
            line-height: 1.3em;
            letter-spacing: 0.06em;
            font-family: $default-font2;
        }
        .icon-with-label__icon {
            background-color: var(--blue);
        }
        .button-std {
            margin-top: 20px;
            max-width: 300px;
        }
        @include from(1680px) {
            .icon-with-label.text-l {
                font-size: 23px;
            }
            .button-std {
                max-width: 330px;
            }
        }
        @include from(576px) {
            &__remark:not(:last-child) {
                margin-bottom: 80px;
            }
        }
        @include to(768px) {
            .icon-with-label__text {
                width: 18ch;
            }
        }
        @include to(575px) {
            padding: 30px var(--side-fields);
            &__left,
            &__right {
                width: 100%;
            }
            &__left,
            .title {
                margin-bottom: 30px;
            }
            &__remark:not(:last-child) {
                margin-bottom: 20px;
            }
        }
    }
    
    .icon--letter-box {
        width: 15px;
        fill: #e8e6df;
        height: 15px;
    }