    * {
        --menu-width: calc((100% / 12 * 3) - 20px);
        --blue: #133C58;
        --ffffff: #ffffff;
        --side-fields: 100px;
        --side-padding: 100px;
        --gold: #EBC78C;
        --brown: #5A5356;
        --blue-light: #758BA2;
        --gray: #DDD9D3;
        --orange: #EB8271;
        --black: #221F20;
        --very-gray: #99918A;
        --header-height: 100px;
        /* ывсчс */
        --other-gray: #F2F2F2;
        @include from(1360px) {
            --menu-width: 300px;
        }
        @include to(768px) {
            --side-fields: 22px;
            --side-padding: 20px;
        }
        @include to(575px) {
            --side-fields: 14px;
            --side-padding: 14px;
            --header-height: 52px;
        }
    }
    
    .page__inner {
        width: calc(100% - var(--menu-width));
        margin-left: auto;
    }
    
    .main-screen {
        position: relative;
        min-height: 120vh;
        padding-bottom: 50vh;
        color: var(--white);
        display: flex;
        align-content: flex-start;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding-top: 55px;
        --ms-side-padding: 100px;
        padding-left: var(--ms-side-padding);
        padding-right: var(--ms-side-padding);
        .main-screen__bg {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            z-index: 0;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &>*:not(.main-screen__bg) {
            position: relative;
            z-index: 1;
        }
        &__title {
            max-width: 25ch;
            font-size: 36px;
            line-height: 48px;
            font-family: $default-font2;
            color: var(--blue);
        }
        &__but {
            width: 250px;
            height: 50px;
            margin-top: 25px;
            background-color: var(--gold);
            border-radius: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: $default-font2;
            color: var(--blue);
            cursor: pointer;
        }
        &__icons-row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin-bottom: 100px;
        }
        &__section-info-wrap {
            margin-left: auto;
            margin-right: calc( var(--ms-side-padding) * -1);
        }
        .section-info {
            margin-bottom: 28px;
        }
        &__section-info-wrap,
        &__title-wrap {
            margin-top: auto;
            margin-bottom: auto;
        }
        @include to(575px) {
            padding-left: var(--side-fields);
            padding-right: var(--side-fields);
            &__title {
                font-size: 36px;
                line-height: 36px;
            }
            &__slider {
                width: 100%;
            }
        }
    }
    
    .section-info {
        &__top {
            border-radius: 25px 0px 0px 25px;
            background-color: var(--ffffff);
            font-size: 10px;
            line-height: 1.2em;
            height: 40px;
            padding-left: 35px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding-right: 72px;
            span:first-child {
                color: var(--blue);
                font-weight: bold;
                text-transform: uppercase;
            }
            span:nth-child(2) {
                margin-left: 10px;
                margin-right: 10px;
                color: var(--brown);
            }
            span:nth-child(3) {
                color: #031826;
            }
        }
        &__price {
            font-size: 36px;
            margin-top: 20px;
            line-height: 1em;
            font-family: $default-font2;
            span:first-child {
                color: var(--brown);
                margin-right: 20px;
            }
            span:not(:first-child) {
                color: var(--blue);
            }
        }
    }
    
    .icon-with-label {
        display: flex;
        align-items: center;
        color: var(--blue);
        &__icon {
            background-color: var(--gold);
            border-radius: 50%;
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 20px;
        }
        &__text {
            width: 15ch;
        }
        .icon--metro {
            width: 16px;
            height: 9px;
        }
        .icon--marker {
            width: 10px;
            height: 12px;
        }
        .icon--clock {
            width: 12px;
            height: 12px;
        }
    }
    
    .about-block {
        padding-top: 100px;
        padding-bottom: 59px;
        padding-left: var(--side-fields);
        padding-right: var(--side-fields);
        display: flex;
        flex-wrap: wrap;
        &__left-column {
            width: 50%;
        }
        &__right-column {
            text-align: center;
            width: 35%;
            margin-left: auto;
            .subtitle {
                padding-left: 10%;
                padding-right: 10%;
            }
        }
        &__left-column .text {
            margin-top: 30px;
        }
        .title {
            margin-bottom: 40px;
        }
        &__golden-circle {
            position: relative;
            width: 100%;
            padding-bottom: 100%;
            margin-bottom: 47px;
        }
        &__golden-circle-img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }
        &__golden-circle-text {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
    
    .panorama {
        padding-left: var(--side-fields);
        padding-right: var(--side-fields);
        padding-top: 100px;
        position: relative;
        &__text-content {
            height: 200px;
            position: relative;
            z-index: 1;
            .title {
                float: left;
                width: 30%;
                padding-bottom: calc(1.6em * 2);
            }
        }
        .button-std {
            margin-top: 30px;
            width: 50%;
        }
        .panorama-marker {
            cursor: pointer;
        }
        .panorama-marker path {
            pointer-events: none;
        }
        .panorama-map {
            z-index: 0;
            margin-top: calc((200px + 100px) * -1);
            margin-left: calc(var(--side-fields) * -1);
            margin-right: calc(var(--side-fields) * -1);
        }
    }
    
    .podil-about {
        position: relative;
        padding-left: var(--side-fields);
        padding-right: var(--side-fields);
        min-height: 150vh;
        &__decor {
            position: absolute;
            right: 0;
            top: var(--side-fields);
            width: 20%;
            z-index: 1;
        }
        .title {
            max-width: 80%;
            margin-bottom: 2em;
        }
        &__bg {
            margin-left: calc(var(--side-fields) * -1);
            margin-right: calc(var(--side-fields) * -1);
            width: calc(100% + (var(--side-fields) * 2));
            max-width: none;
            height: 150vh;
            position: relative;
            z-index: 0;
        }
        &__content {
            padding-top: var(--side-fields);
            padding-bottom: var(--side-fields);
            position: relative;
            display: flex;
            flex-wrap: wrap;
            z-index: 1;
        }
        &__column-left {
            width: 50%;
        }
        &__column-right {
            padding-top: 6em;
            margin-left: auto;
            margin-right: auto;
            width: 35%;
            .text {
                margin-bottom: 5em;
                color: var(--blue);
            }
        }
    }
    
    .panorama-help-popup {
        background-color: var(--ffffff);
        color: var(--blue);
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 15px;
        padding-right: 15px;
        max-width: 220px;
        min-width: 150px;
        height: 36px;
        transition: .3s ease-out;
        position: fixed;
        opacity: 0;
        @include fontSizeLhToEm(10, 10);
        pointer-events: none;
        &:after {
            content: '';
            display: inline-block;
            width: 12px;
            height: 6px;
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50);
            background-image: url("data:image/svg+xml,%3Csvg width='12' height='6' viewBox='0 0 12 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0L6 6L12 0H0Z' fill='white'/%3E%3C/svg%3E%0A");
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
    
    .philosophy-double-section {
        display: flex;
        align-items: center;
        position: relative;
        min-height: 100vh;
        &__img,
        &__text {
            width: 50%;
            position: relative;
            z-index: 1;
        }
        &__img {
            height: 100vh;
        }
        &__img img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &__text {
            position: relative;
            @include shift-padding-left(1);
            @include shift-padding-right(0.8);
            justify-content: center;
            height: 100vh;
            align-items: center;
            display: flex;
            flex-direction: column;
        }
        &__text-decor {
            position: absolute;
            right: 20px;
            top: 20px;
            width: 35%;
        }
        .title {
            position: relative;
            img {
                right: 0;
                top: 50%;
                transform: translate(50%, -50%);
                width: 60%;
            }
        }
        .adv-sngl {
            margin-top: 50px;
            max-width: 80%;
        }
        @include to(768px) {
            &__text {
                @include shift-padding-left(0.5);
                @include shift-padding-right(0.4);
            }
        }
        @include to(575px) {
            flex-wrap: wrap;
            &__img,
            &__text {
                width: 100%;
            }
            &__img {
                order: 2;
            }
            &__text {
                order: 1;
                padding-top: 20px;
                padding-bottom: 20px;
            }
        }
    }
    
    .adv-sngl {
        &__text {
            margin-top: 20px;
        }
    }
    
    .flats {
        position: relative;
        height: 100vh;
        &__text {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #F4F3EC;
            padding-left: var(--side-fields);
            padding-right: var(--side-fields);
            padding-top: calc(var(--side-fields) * 0.5);
            padding-bottom: calc(var(--side-fields) * 0.7);
            &>*:not(:last-child) {
                margin-bottom: 30px;
            }
            &_right {
                left: auto;
                right: 0;
            }
        }
        &__img {
            height: 100%;
            object-fit: cover;
        }
    }
    
    .plans {
        padding: var(--side-fields);
        flex-wrap: wrap;
        display: flex;
        .plan-card {
            margin: 0 11px;
        }
        .icon--birdy {
            width: 7px;
            height: 12px;
        }
        .icon-with-label {
            font-family: $default-font2;
            cursor: pointer;
            width: 50%;
        }
        .icon-with-label__text {
            font-size: 18px;
            line-height: 1.3em;
            width: auto;
            letter-spacing: 0.06em;
            color: var(--blue-light);
        }
        .plans__slider {
            width: 100%;
            margin-top: 30px;
        }
        &__next {
            flex-direction: row-reverse;
            .icon-with-label__icon {
                margin-left: 20px;
                margin-right: 0;
                transform: rotate(180deg);
            }
        }
        .slick-list {
            overflow: visible;
        }
        &__prev {}
    }
    
    #icon-birdy {
        fill: transparent;
    }
    
    #icon-developer-logo {
        // fill: red;
    }
    
    .developer svg {
        fill: red;
    }
    
    .plan-card {
        --self-padding: 30px;
        padding: var(--self-padding);
        border: 1px solid #E8E6DF;
        border-radius: 25px;
        text-align: center;
        &__title {
            font-family: $default-font2;
            font-size: 36px;
            line-height: 1em;
            color: var(--blue);
            margin-bottom: 10px;
        }
        &__img {
            max-height: 210px;
            margin-top: 30px;
            margin-bottom: 30px;
            object-fit: contain;
        }
        &__subtitle {
            font-family: $default-font2;
            color: var(--blue-light);
            font-size: 18px;
            line-height: 1em;
            /* identical to box height, or 100% */
            text-align: center;
        }
        &__text-title {
            color: var(--blue);
            font-weight: 600;
        }
        &__text-value {}
        .button-std {
            margin-top: 20px;
            width: 150px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    
    .developer {
        padding: var(--side-fields);
        background-color: #F4F3EC;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        .subtitle,
        .text {
            width: 50%;
        }
        .golden-circle {
            width: 35%;
            svg {
                width: 65%;
            }
        }
        .text {
            align-self: flex-start;
            padding-right: 15%;
        }
        .golden-circle {
            padding-bottom: 35%;
            margin-left: auto;
        }
    }
    
    .developer-second {
        position: relative;
        min-height: 75vh;
        padding: 0 var(--side-fields);
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        &__title {
            font-weight: 500;
            font-size: 30px;
            line-height: 1.2em;
            text-align: right;
            color: var(--blue);
        }
        &__bg {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: 0;
        }
        &__gradient {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: 1;
            background: linear-gradient(180deg, rgba(244, 243, 236, 1) 0%, rgba(9, 9, 121, 0) 50%);
        }
        &__decor {
            margin-bottom: 60px;
        }
        &__decor,
        &__title,
        .subtitle {
            position: relative;
            z-index: 2;
        }
        &__title {
            width: 50%;
            padding-left: 10%;
            padding-right: 80px;
        }
        .subtitle {
            width: 50%;
            padding-right: 25%;
            padding-left: 0;
        }
    }
    
    .golden-circle {
        position: relative;
        width: 100%;
        padding-bottom: 100%;
        margin-bottom: 47px;
        &__img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }
        &__text {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
    
    // .double-part-section {
    //     display: flex;
    //     flex-wrap: wrap;
    //     align-items: center;
    //     padding-left: var(--side-fields);
    //     min-height: calc(100vh - var(--header-height));
    //     .button-std {
    //         margin-top: 55px;
    //     }
    //     .title {
    //         max-width: 10ch;
    //     }
    //     &__text {
    //         @include size(5);
    //         @include shift-padding(0.8);
    //     }
    //     &__img {
    //         @include size(7);
    //         height: calc(100vh - var(--header-height));
    //         margin-left: auto;
    //         img {
    //             height: 100%;
    //             object-fit: cover;
    //         }
    //     }
    //     &.symmetrical &__img,
    //     &.symmetrical &__text {
    //         @include size(6);
    //     }
    //     &.reverse {
    //         padding-left: 0;
    //         padding-right: var(--side-fields);
    //     }
    //     &.reverse &__img {
    //         margin-left: 0;
    //         margin-right: auto;
    //     }
    //     &.white {
    //         background-color: var(--white);
    //     }
    //     @include to(950px) {
    //         &__text {
    //             padding-left: 0;
    //             padding-right: 0;
    //         }
    //     }
    //     @include to(575px) {
    //         padding-left: 0;
    //         min-height: auto;
    //         &__img,
    //         &__text {
    //             width: 100%;
    //         }
    //         &__text {
    //             padding-top: 20px;
    //             padding-bottom: 20px;
    //             padding-left: var(--side-fields);
    //         }
    //         &__img {
    //             margin-top: auto;
    //             height: calc(50vh - var(--header-height));
    //         }
    //         .button-std {
    //             margin-top: 20px;
    //         }
    //     }
    // }