* {}

.page__inner {
    // padding-left: var(--side-fields);
    // padding-right: var(--side-fields);
}

.arrow {
    --self-width: 63.12px;
    width: var(--self-width);
    height: var(--self-width);
    background: var(--white);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    transition: .3 ease-out;
    &.gray {
        background: #E7E4E1;
    }
    &>svg {
        transform: translateX(30%);
        width: 9px;
        height: 12px;
    }
    .pause {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
    }
    .progress-indecator {
        position: absolute;
        z-index: -1;
        transform: scale(1.05);
        left: 0;
        top: 0;
        background-color: var(--blue);
        width: 100%;
        height: 100%;
        clip-path: polygon(0 0, 0% 0, 0% 0%, 0% 0%);
        border-radius: 50%;
    }
    &.arrow-s {
        --self-width: 40px;
    }
    &.arrow-s svg {
        width: 8px;
        height: 6px;
    }
}

.subtitle {
    @include fontSizeLhToEm(20, 30);
    font-weight: 600;
    color: var(--blue-light);
    &.bold {
        font-weight: bold;
    }
    &.black {
        color: var(--black);
    }
    @include to(575px) {
        @include fontSizeLhToEm(16, 16);
    }
}

.text {
    @include fontSizeLhToEm(14, 24);
    text-decoration: none;
    color: var(--blue-light);
    span {
        text-decoration: none;
    }
    &>p:not(:last-child) {
        margin-bottom: 1.6em;
    }
    &.text-large {
        font-size: 18px;
    }
    &.bold {
        font-weight: bold;
    }
    &.text-smaller {
        font-size: 13px;
    }
    font-size: 14px;
    line-height: 1.6em;
    &.gold {
        color: var(--gold);
    }
}

.left-shifted {
    @include shift-padding-left(1);
}

.page__content {
    display: flex;
    flex-direction: column;
}

.title {
    font-family: $default-font2;
    @include fontSizeLhToEm(36, 48);
    width: 100%;
    font-weight: normal;
    color: var(--blue);
    @include from(1680px) {
        @include fontSizeLhToEm(48, 48);
    }
    @include to(575px) {
        @include fontSizeLhToEm(32, 32);
    }
}

.arrows {
    align-self: center;
    margin-top: auto;
    width: calc(100% - var(--side-padding) - var(--side-padding));
    display: flex;
    justify-content: space-between;
    --self-arrow-side: 50px;
    pointer-events: none;
    &.transparent .arrow-prev,
    &.transparent .arrow-next {
        background: transparent;
    }
    & svg {
        width: 20px;
        height: 14.5px;
    }
    & .arrow-prev,
    & .arrow-next {
        border: 0.5px solid var(--blue);
        pointer-events: all;
    }
    & path {
        stroke: var(--black) !important;
    }
    &.blue rect {
        fill: var(--black);
    }
    .arrow-prev,
    .arrow-next {
        display: flex;
        align-items: center;
        justify-content: center;
        width: var(--self-arrow-side);
        height: var(--self-arrow-side);
        border: 0.5px solid var(--black);
        position: relative;
        cursor: pointer;
        // border-right-color: transparent;
        // transition: .7s;
        &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background: linear-gradient(267.71deg, #FF8298 0%, #FFDEAC 100%);
            // transform: scaleY(0);
            transform-origin: top;
            transition: .5s ease-out;
            opacity: 0;
            z-index: -1;
        }
    }
    @include from(769px) {
        .arrow-prev:hover,
        .arrow-next:hover {
            border-left: none;
            border-color: transparent;
            // background: linear-gradient(267.71deg, #FF8298 0%, #FFDEAC 100%);
        }
        .arrow-prev:hover:after,
        .arrow-next:hover:after {
            opacity: 1;
            transform: scaleY(1);
        }
        .arrow-prev:hover svg,
        .arrow-next:hover svg {
            transform-origin: center;
            transition: .7s;
            // transform: scale(1.5);
        }
        &.blue .arrow-prev:hover svg path,
        &.blue .arrow-next:hover svg path {
            stroke: var(--black) !important;
        }
        &.blue .arrow-next:hover svg rect,
        &.blue .arrow-prev:hover svg rect {
            fill: var(--black);
        }
    }
    svg {
        cursor: pointer;
        transition: .5s;
    }
    svg path,
    svg rect {
        cursor: pointer;
    }
    .arrow-prev {
        transform: rotate(-180deg);
    }
    .arrow-next {}
    @include to(768px) {
        margin-bottom: 0;
    }
    @include to(575px) {
        --self-arrow-side: 36px;
    }
}

.delimiter {
    width: 100%;
    height: 1px;
    background-color: #E3D4CF;
    &.orange {
        background-color: var(--orange);
    }
    &.vertical {
        width: 1px;
        height: 100%;
    }
}

.logo-with-slogan {
    --self-width: 79px;
    width: var(--self-width);
    height: calc(var(--self-width) * 0.65);
    @include to(768px) {
        --self-width: 102px;
    }
}

.breadcrumbs-block {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    padding-top: 2px;
    padding-bottom: 20px;
    box-sizing: content-box;
    position: relative;
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    &__item {
        color: var(--light-gray);
        text-decoration: none;
        margin-bottom: var(--underline-gap);
    }
    &__item span {
        position: relative;
        display: inline-block;
        transition: 0.3s ease-out;
    }
    &__item span:before {
        transition: .7s;
        position: absolute;
        bottom: 0;
        height: 1px;
        width: 100%;
        left: 0;
        background: transparent;
        transform: skewX(180deg);
        content: '';
    }
    &__item--white span:before {
        background: var(--white);
    }
    &__item-current {
        color: var(--pink);
        pointer-events: none;
    }
    &__item--white {
        color: var(--white);
    }
    &__item[href]:not(&__item-current) span {
        // text-decoration: underline;
    }
    &__item[href]:not(&__item-current):after {
        content: '/';
        // background-image: url("data:image/svg+xml,%3Csvg width='9' height='7' viewBox='0 0 9 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.27934 1.47523L8.27932 1.47524L8.28189 1.47976C8.42102 1.72445 8.5 2.00899 8.5 2.32224C8.5 2.57275 8.44887 2.80499 8.35505 3.01821L8.35422 3.02012C8.26316 3.22944 8.12466 3.42458 7.95178 3.59277L7.94209 3.60037L7.60295 3.86662L7.58194 3.88311L7.56825 3.89645L7.17505 4.21797L7.17504 4.21795L7.17112 4.22122L7.13569 4.2508L7.12099 4.26307L7.11475 4.26915L6.88087 4.45595L6.88086 4.45593L6.87749 4.45867L6.26647 4.95546L6.26501 4.95665L5.76535 5.35975L5.76483 5.36018L4.50096 6.38265L4.26414 6.18963L4.26414 6.18963L4.26256 6.18836L1.85352 4.24115L1.85312 4.24083L1.37264 3.85165L1.37265 3.85164L1.36989 3.84944L1.06112 3.60292L1.05818 3.60058C1.05298 3.5952 1.04734 3.58935 1.04107 3.58283L1.03933 3.58103C1.02134 3.56234 0.997577 3.53764 0.971483 3.51223L0.971476 3.51222L0.966421 3.5073L0.966414 3.50729L0.954125 3.49526L0.952137 3.49326C0.948105 3.48806 0.944498 3.48355 0.941487 3.47985C0.936851 3.47414 0.932339 3.46877 0.928962 3.46479L0.915073 3.4445V3.44313L0.821099 3.31236C0.821131 3.31241 0.821111 3.31238 0.821038 3.31227C0.820527 3.31154 0.817421 3.30711 0.81158 3.29835C0.805383 3.28906 0.797313 3.27672 0.787865 3.26185C0.768886 3.23199 0.745563 3.19387 0.721582 3.15182C0.669578 3.06065 0.62986 2.97763 0.613189 2.92517L0.610723 2.91741L0.608006 2.90974C0.564271 2.7862 0.535113 2.67882 0.520979 2.57213L0.518653 2.55457L0.517603 2.54946L0.517527 2.54871C0.51695 2.54308 0.515748 2.53133 0.514124 2.51868C0.513041 2.51024 0.511614 2.50008 0.509692 2.48862C0.503404 2.43557 0.5 2.37723 0.5 2.31731C0.5 2.21539 0.511271 2.1089 0.531696 2.00147L0.53178 2.00149L0.533332 1.99241C0.535136 1.98187 0.536996 1.97186 0.539598 1.95792L0.539795 1.95686C0.541443 1.94804 0.543405 1.93753 0.545486 1.9259C0.582201 1.77504 0.632419 1.63567 0.696806 1.51218L0.762215 1.3975L0.769471 1.38683L0.770616 1.38515C0.776284 1.37688 0.785855 1.36291 0.796528 1.3462C0.898971 1.19988 1.01268 1.07184 1.14007 0.965232C1.15883 0.95031 1.17496 0.936411 1.18341 0.929133C1.18429 0.92838 1.18508 0.927698 1.18578 0.927093L1.19144 0.922274L1.19269 0.921358L1.19938 0.916117C1.52849 0.658097 1.9519 0.5 2.41957 0.5C2.82415 0.5 3.19677 0.617039 3.50413 0.817203C3.52307 0.83079 3.54337 0.846034 3.56912 0.865415L3.57132 0.867072C3.59125 0.882072 3.61478 0.89979 3.63965 0.917867L4.16626 1.38991L4.58442 1.76473L4.9084 1.30606C5.24087 0.835356 5.8911 0.5 6.58043 0.5C7.32428 0.5 7.96215 0.903663 8.27934 1.47523ZM7.90705 3.63301C7.90682 3.63323 7.90702 3.63303 7.9075 3.63256L7.90705 3.63301ZM1.08851 3.62874L1.0878 3.62807C1.08804 3.6283 1.08828 3.62852 1.08851 3.62874ZM1.19363 0.920409C1.1937 0.920347 1.1937 0.920352 1.19362 0.920419L1.19363 0.920409ZM1.09186 3.63195C1.09279 3.63285 1.09327 3.63331 1.09296 3.63302L1.09249 3.63256L1.09186 3.63195Z' stroke='%23BCBCBC' stroke-opacity='0.4'/%3E%3C/svg%3E%0A");
        // width: 9px;
        // height: 7px;
        display: inline-block;
        background-size: contain;
        margin: 0 10px;
        text-decoration: none;
    }
    @include from(1720px) {
        margin-top: 25px;
        &__item {
            // font-size: 18px;
        }
    }
    @include from(769px) {
        &__item:hover span {
            color: var(--pink);
        }
    }
    @include to(768px) {
        padding-top: 0px;
        padding-bottom: 20px;
    }
    @include to(575px) {
        padding-top: 0px;
        padding-bottom: 10px;
        .breadcrumbs-block__item {
            font-size: 14px;
            line-height: 22px;
        }
        &__item {
            font-size: 14px;
            line-height: 22px;
        }
        &>*:last-child,
        &>*:nth-last-child(n+3) {
            display: none;
        }
        &__item[href]:not(&__item-current):after {
            display: none;
        }
        &__item {
            display: flex;
            align-items: center;
        }
        &__item[href]:not(&__item-current):before {
            content: '';
            display: inline-block;
            background-image: url(../images/common/breadcrumb-mobile-arrow.svg);
            width: 8px;
            height: 16px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            margin-right: 10px;
        }
    }
}

.pagination {
    display: flex;
    font-weight: 500;
    width: max-content;
    align-items: center;
    &>*:not(.digit) {
        margin-right: 20px;
    }
    &>*:last-child {
        margin-right: 0;
    }
    &>*:nth-last-child(3) {
        margin-right: 20px;
    }
    a {
        color: var(--black);
        text-decoration: none;
    }
    a.innactive {
        color: #E3D4CF;
        text-decoration: none;
    }
    a.forward[data-src],
    a.back[data-src] {
        display: none;
    }
    .back>svg {
        transform: rotate(180deg);
        stroke: #E3D4CF;
        margin-right: 10px;
    }
    .forward>svg {
        margin-left: 10px;
    }
    .to-start>svg {
        transform: rotate(180deg);
        margin-right: 10px;
        stroke: #E3D4CF;
    }
    .to-finish>svg {
        margin-left: 10px;
    }
    .icon--double-birdy {
        width: 9px;
        height: 10px;
    }
    .icon--arrow {
        width: 14px;
        height: 10px;
    }
    .digit {
        --self-side: 30px;
        --diagonal-side: 42.4px;
        width: var(--diagonal-side);
        height: var(--diagonal-side);
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        z-index: 1;
    }
    .digit:after {
        content: '';
        transition: .5s ease-out;
        position: absolute;
        left: 0%;
        top: 50%;
        width: var(--self-side);
        height: var(--self-side);
        border: 1px solid var(--black);
        display: inline-block;
        transform: rotate(-45deg) translate(0, 0);
        transform-origin: left top;
        z-index: 0;
        opacity: 0;
    }
    .digit.current__page:after {
        opacity: 1;
    }
    @include from(769px) {
        .forward:hover span,
        .to-finish:hover span {
            color: var(--pink);
        }
        .forward:hover svg,
        .to-finish:hover svg {
            stroke: var(--pink);
        }
        .digit:hover:after {
            opacity: 1;
        }
    }
    @include to(575px) {
        display: none;
    }
}

.goods-dropdown {
    &.no-icon &__article {
        padding-left: 0;
    }
}

.link-with-icon {
    display: flex;
    align-items: center;
    color: var(--pink);
    text-decoration: none;
    &>svg {
        margin-right: 10px;
    }
}

.mfp-bg {
    // background: transparent;
    // background: #f9afab40;
    background: #E5E5E5;
}

.mfp-content>* {
    margin-left: auto;
    margin-right: auto;
}

.invisible-block {
    display: none;
}

.invisible-block a.current-page {
    pointer-events: none;
    color: var(--black);
}

.faq-menu {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    padding: 23px 30px;
    a.current-page {
        pointer-events: none;
        color: var(--black);
    }
    &>.text {
        // font-size: 14px;
        margin-top: 0.7em;
        margin-bottom: 0.7em;
        line-height: 1.36em;
    }
    a {
        text-decoration: none;
    }
    .mobile-open-button {
        border: 0.5px solid #E3D4CF;
        width: 100%;
        padding: 11px;
        text-align: center;
        font-weight: 500;
        cursor: pointer;
    }
    @include from(576px) {
        .mobile-open-button {
            display: none;
        }
    }
    @include from(1680px) {
        padding: 20px 40px;
    }
    @include to(1100px) {
        padding: 23px 10px;
    }
    @include to(768px) {
        padding: 23px 18px;
    }
    @include to(575px) {
        padding: 0;
        &>*:not(.mobile-open-button) {
            display: none;
        }
    }
}

.text-block {
    padding: 20px 30px 30px 30px;
    &.for-title {
        padding-top: 13px;
        padding-bottom: 13px;
    }
    a {
        text-decoration: none;
    }
    &.brown {
        background-color: #E3D4CF;
    }
    &.white {
        background-color: var(--white);
    }
    .list-std {
        margin-left: 20px;
    }
    @include from(1680px) {
        padding: 20px 50px 30px 50px;
    }
    @include to(1100px) {
        padding: 20px 30px 30px 30px;
    }
    @include to(768px) {
        padding: 20px 30px 20px 30px;
    }
    @include to(575px) {
        padding: 20px 18px 20px 18px;
    }
}

.list-std {
    &.no-markers li:after {
        opacity: 0;
    }
    li {
        padding-left: 10px;
        position: relative;
        line-height: 1.5em;
        margin-top: 0.6em;
    }
    li:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0.7em;
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background-color: var(--black);
    }
    &.pink li:after {
        background-color: var(--pink);
    }
    margin-bottom: 0.6em;
}

.service-menu-paragraph {
    position: relative;
    padding-bottom: 20px;
    .list-std li {
        padding-left: 18px;
    }
    .list-std li:after {
        background-color: var(--pink);
    }
    &:not(:first-child) {
        margin-top: 20px;
    }
    &:not(:last-child):after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: rgba(227, 212, 207, 0.5);
        width: 100%;
        height: 1px;
    }
    &__title {
        margin-bottom: 10px;
    }
    @include to(575px) {
        &__title {
            margin-bottom: 10px;
        }
    }
}

.button-std {
    border-radius: 25px;
    height: 50px;
    font-family: $default-font2;
    background-color: var(--gold);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 0.18em;
    color: var(--blue);
}

.common-form {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--white);
    padding: 40px;
    max-width: 422px;
    .mfp-close {
        padding: 0 !important;
        position: absolute;
        cursor: pointer;
        transition: 0.5s ease-out;
        right: 25px;
        top: 25px;
        width: auto;
        height: auto;
        display: flex;
        align-items: center;
    }
    .mfp-close-img {
        background-color: var(--orange);
        width: 100%;
        height: 100%;
        width: 37px;
        transition: .3s ease-out;
        transform-box: fill-box;
        height: 37px;
    }
    .mfp-close:before {
        content: attr(data-before);
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.1em;
        text-transform: lowercase;
        color: var(--very-gray);
        display: inline-block;
        margin-right: 15px;
    }
    .help-span {
        width: 100%;
        margin-top: 20px;
        color: #E3D4CF;
        font-weight: normal;
        font-size: 13px;
        line-height: 13px;
    }
    legend {
        color: var(--black);
        margin-bottom: 10px;
        font-weight: normal;
        @include fontSizeLhToEm(24, 30);
        font-size: 30px;
        line-height: 38px;
    }
    button[type=submit] {
        border: none;
        font-family: $default-font;
        width: 190px;
        margin-left: auto;
        margin-right: 0;
        margin-top: 45px;
        background-color: transparent;
    }
    .checkbox-first {
        margin-bottom: 0px;
    }
    input,
    textarea {
        background: transparent;
        border: none;
        font-size: 14px;
        line-height: 22px;
        font-family: $default-font;
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 13px;
        align-self: center;
        width: 100%;
    }
    input::placeholder,
    textarea::placeholder {
        color: var(--black);
    }
    textarea {
        resize: none;
        height: calc(1.6em * 3);
    }
    .input-group {
        position: relative;
        display: flex;
        align-items: flex-start;
        margin-top: 30px;
        padding-bottom: 14px;
        margin-right: auto;
        width: 100%;
        overflow: hidden;
    }
    .input-group.select-std {
        // padding-bottom: 0;
        // display: none;
    }
    .input-group.select-std:after {
        z-index: 10;
    }
    .input-group.hidden {
        display: none;
    }
    .input-group:focus-within:after {
        background-color: var(--pink);
    }
    .checkbox-group {
        margin-top: 0;
        padding-bottom: 0;
    }
    .textarea {
        margin-bottom: 20px;
    }
    .checkbox-group:after {
        display: none;
        // margin-top: 42px;
    }
    .checkbox-group.unfilled .toggle {
        --border-color: red;
    }
    .input-group svg {
        margin-right: 20px;
        align-self: center;
    }
    .input-group:after {
        content: '';
        position: absolute;
        height: 2px;
        width: 100%;
        background-color: rgba(227, 212, 207, 0.5);
        left: 0;
        bottom: 0;
        transition: .5s;
    }
    .input-group.unfilled:after {
        background-color: red;
    }
    .toggle__text {
        font-weight: 500;
        font-size: 12px;
        line-height: 20px;
    }
    .toggle__label {
        padding-left: 35px;
    }
    [type=submit]:disabled,
    [type=submit]:disabled .button-std__icon {
        background-color: var(--gray);
        pointer-events: none;
    }
    .icon--letter {
        width: 17px;
        height: 10px;
    }
    .input-group.textarea svg {
        align-self: flex-start;
    }
    .time-group-js {
        opacity: 0;
    }
    .sublegend {
        margin-bottom: 30px;
    }
    @include from(769px) {
        .sign-with-icon {
            height: 1.6em;
        }
        .mfp-close:hover .mfp-close-img {
            transform: rotate(0.5turn);
        }
    }
    @include from(1720px) {
        .input-group:first-child {
            padding-top: 10px;
        }
        legend {
            @include fontSizeLhToEm(24, 30);
            margin-bottom: 30px;
        }
        input,
        textarea {
            @include fontSizeLhToEm(14, 22);
        }
        .input-group {
            padding-bottom: 20px;
        }
        .input-group svg {
            width: 18px;
            height: 18px;
            margin-right: 20px;
            align-self: center;
        }
        button {
            --icon-width: 40px;
            margin-left: auto;
            margin-right: auto;
            // margin-top: 30px;
            width: 210px;
            margin-bottom: auto;
        }
    }
    @include to(575px) {
        padding: 17px;
        .input-group:first-child {
            width: 100%;
        }
        button {
            order: 2;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.common-form-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 448px;
    overflow: hidden;
    .common-form {
        //отступ заголовка + высота кнопки закрыть + отступ кнопки закрыть от верха
        padding-top: calc(42px + 37px + 25px);
    }
    &>img {
        max-width: 448px;
        width: 50%;
        height: 100%;
        object-fit: cover;
    }
    @include to(768px) {
        &>img {
            width: 30%;
        }
    }
    @include to(575px) {
        &>img {
            display: none;
        }
    }
}

.invalid-message {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 0.8rem;
    color: red;
}

.popup-std {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--white);
    padding: 42px;
    .mfp-close {
        cursor: pointer;
        transition: .4s ease-out;
        width: 47px;
        position: static;
        height: 47px;
        padding: 0;
        right: 30px;
        top: 30px;
        margin-left: auto;
    }
    @include to(575px) {
        padding: 20px;
    }
}


/*ranges customizing*/

.ion-range-block {
    @include row-flex();
    align-items: center;
    overflow-y: hidden;
    overflow-x: visible;
    // border: 1px solid red;
    .irs {
        // width: ;
        @include size(12);
        overflow: visible;
        // @include shift(0);
        margin-left: calc(0% + 20px);
        margin-right: calc(0% + 20px);
    }
    .irs--flat .irs-line {
        background-color: transparent;
    }
    &__separator {
        width: 1ch;
        color: #F9F3F0;
    }
    input {
        width: calc(50% - 20px - 0.5ch);
        // @include size(6);
        @include shift(0);
        padding: 12px;
        border: 1px solid #F9F3F0;
    }
    @include to(575px) {
        margin-left: -10px;
        margin-right: -10px;
        width: calc(100% + 20px);
    }
}

.irs--flat {
    .irs-handle {
        transform: rotate(45deg) scale(0.88);
    }
    .irs-bar {
        background-color: var(--black);
    }
    @include to(575px) {
        .irs-handle {
            transform: rotate(45deg) scale(2);
        }
    }
}


/*ranges customizing end*/

.search-input {
    .search-res {
        transition: .7s ease-out;
        opacity: 0;
        // pointer-events: none;
    }
    .search-res a {
        transition: .7s;
    }
    &:focus-within .search-res {
        opacity: 1;
        pointer-events: all;
    }
    &:focus-within .search-res a {
        pointer-events: all;
    }
}

.social-link {
    --self-side: 30px;
    width: var(--self-side);
    height: var(--self-side);
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--white);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    svg {
        transform-origin: center;
        transform-box: fill-box;
        transition: .3s ease-out;
        max-width: calc(var(--self-side) * 0.5);
        max-height: calc(var(--self-side) * 0.5);
    }
    @include from(769px) {
        &:hover svg {
            transform: scale(1.2);
        }
    }
}

.video-play-button {
    background-color: var(--orange);
    cursor: pointer;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
        width: 35%;
        height: 35%;
    }
}

.slider-counter {
    --self-color: var(--white);
    color: var(--self-color);
    display: flex;
    align-items: center;
    &__arrow {
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.04em;
    }
    &__delimiter {
        height: 1px;
        width: 62px;
        background-color: var(--self-color);
        margin-left: 18px;
        margin-right: 18px;
    }
}

.slider-counter-type2 {
    display: flex;
    align-items: flex-start;
    color: var(--black);
    &.orange {
        color: var(--orange);
    }
    .slider-counter-type2__current {
        font-size: 40px;
        line-height: 38px;
    }
    .slider-counter-total {
        font-size: 12px;
        line-height: 24px;
    }
    .slider-counter-total:before {
        content: ' /';
    }
}

.watch-more {
    @include row-flex();
    padding-left: var(--side-fields);
    padding-right: var(--side-fields);
    padding-bottom: 110px;
    padding-top: 57px;
    --glitch-width: 100%;
    --glitch-height: 100%;
    .glitch {
        width: 100%;
        height: 100%;
    }
    &__title {
        position: relative;
        z-index: 1;
    }
    &__block {
        @include size(6);
        @include shift(0);
        height: 270px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        color: var(--white);
        text-decoration: none;
        @include fontSizeLhToEm(24, 36);
    }
    &__head-title {
        @include shift-left(1);
        width: 100%;
        margin-bottom: 52px;
        color: var(--blue);
        @include fontSizeLhToEm(30, 38);
    }
    &.white {
        background-color: var(--white);
    }
    @include to(768px) {
        &__block {
            @include size(12);
        }
    }
    @include to(575px) {
        padding-bottom: 20px;
        padding-top: 28px;
        &__head-title {
            font-size: 18px;
            margin-left: var(--side-fields);
            margin-bottom: 20px;
        }
        &__block {
            height: 25vh;
            width: 100%;
            margin-left: 0;
            margin-right: 0;
        }
        &__block:last-child {
            margin-top: 20px;
        }
    }
}

.icon--ring-tube {
    width: 14px;
    height: 14px;
}

.icon--marker {
    width: 10px;
    height: 14px;
}